#dw-contacts-tbody::-webkit-scrollbar-thumb {
    background-color: dimgray;
}

#dw-contacts-tbody::-webkit-scrollbar {
    width: 1px;
}

#dw-contacts-table {
    user-select: none;
    cursor: pointer;
    width: 100%;
    height: auto;
    letter-spacing: .3px;
    font-family: 'Century Gothic', sans-serif;
    border: none;
    border-collapse: collapse;
}

#dw-contacts-table td {
    padding: 10px;
}

#dw-contacts-thead {
    color: dimgray;
}

#dw-contacts-thead tr {
    border-bottom: 1px solid lightgray;
}

#dw-contacts-tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .4);
}

#dw-contacts-tbody tr:hover td {
    transition: all .4s;
    color: white;
    background-color: dodgerblue;
}

#dw-contacts-tbody tr:last-child:hover td:first-child {
    border-bottom-left-radius: 3px;
}

#dw-contacts-tbody tr:last-child:hover td:last-child {
    border-bottom-right-radius: 3px;
}

#dw-contacts-tbody td {
    color: dimgray;
    border: none;
}