/*
    TODO : vars
*/


/*-----------------------------------------------*/
#contact {
    user-select: none;
    width: 100%;
    height: auto;
    letter-spacing: .3px;
    font-family: 'Century Gothic', sans-serif;
    border: none;
    border-collapse: collapse;
}
/*-----------------------------------------------*/
#contact td {
    padding: 10px;
}
/*-----------------------------------------------*/
#contact-thead {
    color: dimgray;
}
#contact-thead tr {
    border-bottom: 1px solid lightgray;
}
/*-----------------------------------------------*/
#contact-tbody::-webkit-scrollbar-thumb {
    background-color: dimgray;
}
#contact-tbody::-webkit-scrollbar {
    width: 1px;
}
#contact-tbody tr {
    position: relative;
}
#contact-tbody tr:hover {
    box-shadow: 0px 10px 5px 1px rgba(0,0,0, .3);
}
#contact-tbody tr:hover .control-wrapper {
    display: inline-block;
}
#contact-tbody tr:not([data-status="initial"]) .control-el {
    cursor: pointer;
}
#contact-tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .4);
}
#contact-tbody tr:hover td {
    transition: all .5s;
    color: white;
    background-color: dodgerblue;
}
#contact-tbody tr:last-child:hover td:first-child {
    border-bottom-left-radius: 3px;
}
#contact-tbody tr:last-child:hover td:last-child {
    border-bottom-right-radius: 3px;
}
#contact-tbody td {
    color: dimgray;
    border: none;
    outline-color: white;
}


/*
-----------------------------------------------------------------------------------------------
    CONTROL
*/


#contact-tbody .control-wrapper {
    display: none;
    position: absolute;
    right: 40px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(255,255,255, 1);
    animation: anim .7s;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0, .5);
    height: 25px;
    width: auto;
    overflow: hidden;
}
#contact-tbody .control-container {
    width: 100%;
    height: 100%;
}
#contact-tbody .control-el {
    height: 100%;
    overflow: auto;
    transition: all .5s;
    display: inline-block;
    line-height: 25px;
}
#contact-tbody tr:not([data-status="initial"]) .control-el.save:hover {
    background-color: lightgreen;
    color: white;
}
#contact-tbody tr:not([data-status="initial"]) .control-el.reset:hover {
    background-color: orange;
    color: white;
}
#contact-tbody .control-el.delete:hover {
    cursor: pointer; background-color: lightcoral;
    color: white;
}
#contact-tbody tr[data-status="initial"] .save {
    background-color: lightgray;
    color: white;
    opacity: .5;
}
#contact-tbody tr[data-status="initial"] .reset {
    background-color: lightgray;
    color: white;
    opacity: .5;
}
#contact-tbody .control-el.save:before {
    content: '  ✓  ';
}
#contact-tbody .control-el.reset:before {
    content: '  ⟲  ';
}
#contact-tbody .control-el.delete:before {
    content: '  ✗  ';
}
@keyframes anim {
    from { opacity: 0; }
    to { opacity: 1; }
}
/*
✔✓✘✗⟲⟳↺↻↶↷
*/