#chart-wrapper {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
}

.chart-container-1,
.chart-container-2,
.chart-container-3,
.chart-container-4 {
    width: 50%;
    height: 50%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.chart-1,
.chart-2,
.chart-3,
.chart-4 {
    width: 95%;
    height: 95%;
    border: 1px solid var(--border);
    border-radius: 3px;
    margin: auto;
}

#chart-wrapper .chart-data .popup .balloon {
    transform: translate(-50%, -30%);;
}