/*************************************************************************/

/* Button addGuest */

/*************************************************************************/

#addGuest {
    cursor: pointer;
    padding: 4px;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

#addGuest:hover {
    color: #fff;
    background: #9dea20;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}


/*************************************************************************/

/* Button editGuest */

/*************************************************************************/

#editGuest {
    cursor: pointer;
    padding: 4px;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

#editGuest:hover {
    color: #fff;
    background: #42b3f4;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}


/*************************************************************************/

/* Button delGuest */

/*************************************************************************/

#delGuest {
    cursor: pointer;
    padding: 4px;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

#delGuest:hover {
    color: #fff;
    background: #f4425f;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}


/*************************************************************************/

/* Buttons */

/*************************************************************************/

#save {
    background: #f1f1f1;
    color: #222;
    padding: 4px;
    width: auto;
    height: auto;

    border: none;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

#save:hover {
    color: #fff;
    background: #9dea20;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}

#close {
    background: #f1f1f1;
    color: #222;
    padding: 4px;
    width: auto;
    height: auto;

    border: none;
    border-radius: 3px;
    background-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

#close:hover {
    color: #fff;
    background: #f4425f;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}


/*************************************************************************/

/* Input/output field */

/*************************************************************************/

[data-tip] > input {
    margin-top: 6px;
    margin-right: 3px;
}


/*************************************************************************/

/* Span text */

/*************************************************************************/

[data-tip] {
    position: relative;
}

[data-tip]:before {
    content: '';
    display: none;
    position: absolute;
    top: 30px;
    left: 25px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #9dea20;
}

[data-tip]:after {
    content: attr(data-tip);
    display: none;
    position: absolute;
    top: 35px;
    left: 0px;
    z-index: 9;
    font-size: 14px;
    line-height: 18px;
    /*    height: 18px;*/
    padding: 5px 8px;
    background: #9dea20;
    color: #fff;
    border-radius: 2px;
    /*    white-space: nowrap;*/
    word-wrap: normal;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}

[data-tip]:hover:before,
[data-tip]:hover:after {
    display: block;
}


/*************************************************************************/

/* GUI */

/*************************************************************************/

.ui-dialog .ui-dialog-content {
    /*    padding: 2em;*/
    background: #555;
    height: 180px !important;
}

.ui-widget-content {
    border: none !important;
    color: #222 !important;
}

.ui-dialog-buttonpane {
    text-align: center !important;
    margin-top: 0px !important;
}

.ui-dialog-buttonset {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}


/*************************************************************************/

/* GUI titlebar */

/*************************************************************************/

.ui-dialog .ui-dialog-titlebar {
    display: none;
}


/*************************************************************************/

/* Input fields */

/*************************************************************************/

input#dayin {
    text-align: center;
}

input#dayout {
    text-align: center;
}

input#room {
    text-align: center;
}

input#price {
    text-align: center;
}

input#paid {
    text-align: center;
}

input#name {
    text-align: left;
}

input#tel {
    text-align: left;
}

input#text {
    text-align: left;
}


/*************************************************************************/

/* Prompt bootstrap dialog custom style */

/*************************************************************************/

.modal-dialog .modal-own {
    border-radius: 3px !important;
}

.modal-own-button-ok {
    color: #222 !important;
    background-color: #f1f1f1 !important;
    border-radius: 3px !important;
    border: none !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

.modal-own-button-ok:hover {
    color: #fff !important;
    background: #9dea20 !important;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}

.modal-own-button-cancel {
    color: #222 !important;
    background-color: #f1f1f1 !important;
    border-radius: 3px !important;
    border: none !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

.modal-own-button-cancel:hover {
    color: #fff !important;
    background: #f4425f !important;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}

.modal-own-input {
    text-align: center;
    width: 60px !important;
    margin-left: auto;
    margin-right: auto;
}

.modal-own-input::-webkit-outer-spin-button,
.modal-own-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-own-footer {
    text-align: center !important;
}
