#journal {
    margin-left: auto;
    margin-right: auto;
    background: var(--c-tab-bck-bod-nor);
    table-layout: fixed;
    border-spacing: 3px 8px;
}

#journal>thead>tr>th,
#journal>tbody>tr>th {
    border: 1px solid var(--c-tab-bor-bod-nor);
    font-weight: 200;
    text-align: center;
    width: 21px;
    padding: 4px;
    border-radius: var(--r-bor-nor);
}

#journal>tbody>tr>th {
    cursor: pointer;
}

#journal>tbody>tr>td {
    border: 1px solid var(--c-tab-bor-bod-nor);
    text-align: center;
    cursor: pointer;
    width: 21px;
    padding: 4px;
    border-radius: var(--r-bor-nor);
}

#journal>tbody>tr:hover>th {
    animation: blink 5s infinite;
}

#journal>tbody>.records-row>td {
    border: none;
    cursor: default;
    padding: 18px 0px 18px 35px;
}

#journal>tbody>tr:not(.records-row)>td:hover {
    background-color: var(--c-tab-bck-col-hov);
    border: 1px solid transparent;
    box-shadow: var(--s-nor);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 1;
}

#journal>tbody>tr:not(.records-row)>td:hover .hint-text {
    visibility: visible;
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

.hidden {
    cursor: default;
    display: none;
}

.records {
    cursor: pointer;
    text-align: center;
    border-spacing: 3px 8px;
    width: 100%;
    padding: 0;
    border-radius: var(--r-bor-nor);
    border-style: solid;
    border-width: 0px;
}

.records:hover>tbody>tr:hover>td {
    border: 1px solid transparent;
    box-shadow: var(--s-nor);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 1;
}

.records>tbody>tr>td {
    border: 1px solid var(--c-tab-bor-bod-nor);
}

.records>tbody>tr>td:first-child {
    width: 5%;
    border-top-left-radius: var(--r-bor-nor);
    border-bottom-left-radius: var(--r-bor-nor);
}

.records>tbody>tr>td:last-child {
    padding: 4px;
    width: 95%;
    border-top-right-radius: var(--r-bor-nor);
    border-bottom-right-radius: var(--r-bor-nor);
}

.records [data-status="selected"] {
    border: 1px solid transparent;
    animation: blink 5s infinite;
}

.record-detail {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.record-detail>tbody>tr>td {
    border: none;
}

.record-detail>tbody>tr>td:first-child {
    width: 80%;
}

.record-detail>tbody>tr>td:nth-child(2) {
    width: 8%;
}

.record-detail>tbody>tr>td:nth-child(3) {
    width: 5%;
}

.record-detail>tbody>tr>td:last-child {
    width: 7%;
}

.person-fields {
    padding: 0;
}

.person-base-info {
    text-align: left;
}

.person-cell-name {
    font-weight: bold;
}

.person-cell-name:after {
    content: " ";
}

.person-cell-teln-number:before {
    vertical-align: middle;
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid slice" height="15" width="15" fill="#00a4e4" xmlns="http://www.w3.org/2000/svg"><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/></svg>');
}

.person-cell-teln-number {
    font-size: 14px;
    color: var(--c-tab-inr-txt-cmt);
}

.person-additional-info {
    text-align: left;
}

.person-cell-city,
.person-cell-fnot {
    font-size: 14px;
    color: var(--c-tab-inr-txt-cmt);
    text-align: left;
    font-style: italic;
}

.person-cell-city:after {
    content: " ";
}

.person-cell-room {
    color: var(--c-tab-bck-col-res);
}

.person-cell-room:before {
    display: block;
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid slice" height="15" width="15" fill="#00a4e4" xmlns="http://www.w3.org/2000/svg"><path d="M7 13c1.66 0 3-1.34 3-3S8.66 7 7 7s-3 1.34-3 3 1.34 3 3 3zm12-6h-8v7H3V5H1v15h2v-3h18v3h2v-9c0-2.21-1.79-4-4-4z"/></svg>');
}

.person-dates {
    text-align: right;
}

.person-cell-cost,
.person-cell-paid {
    text-align: right;
}

#month {
    font-family: 'Century Gothic', sans-serif;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#year {
    display: none;
}

.blank-cell {
    border: 1px solid transparent !important;
}

[data-status="selected"] {
    background-color: var(--c-tab-bck-col-sel);
}

[data-status="reserved"] {
    background-color: var(--c-tab-bck-col-res);
}

[data-status="adjacent"] {
    background-color: var(--c-tab-bck-col-adj);
}

[data-status="redeemed"] {
    background-color: var(--c-tab-bck-col-red);
}


/*-----------------------------------------------------------------*/


#journal-control-buttons td {
    text-align: center;
    padding: 0;
}

#journal-control-buttons table {
    width: 100%;
    border-collapse: collapse;
}

#journal-control-buttons table td:nth-child(2) {
    width: 90%;
}

#journal-button-month-prev {
    border: none;
    border-bottom: 1px solid var(--c-tab-bor-bod-nor);
    border-left: 1px solid var(--c-tab-bor-bod-nor);
    border-top: 1px solid var(--c-tab-bor-bod-nor);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#journal-button-month-prev:hover {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#journal-button-month-prev:before {
    content: url('data:image/svg+xml;utf8,<svg fill="#6a737b" height="10" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/></svg>');
}

#journal-button-month-next {
    border: none;
    border-bottom: 1px solid var(--c-tab-bor-bod-nor);
    border-right: 1px solid var(--c-tab-bor-bod-nor);
    border-top: 1px solid var(--c-tab-bor-bod-nor);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#journal-button-month-next:hover {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#journal-button-month-next:before {
    content: url('data:image/svg+xml;utf8,<svg fill="#6a737b" height="10" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/></svg>');
}

#journal-control-buttons .button {
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--c-btn-bck-nor-neu);
}

#journal-control-buttons .button:hover {
    animation: blink2 5s infinite;
}

@keyframes blink2 {
    0% {
        background-color: #42b3f4;
    }
    50% {
        background-color: #9dea20;
    }
    100% {
        background-color: #42b3f4;
    }
}

#button-pick-period {
    display: block;
    border: 1px solid var(--c-tab-bor-bod-nor);
    outline: none;
    cursor: pointer;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

#button-pick-period:hover {
    color: var(--c-btn-txt-hov-pos);
    animation: blink2 5s infinite;
    border: 1px solid transparent;
}


/*-----------------------------------------------------------------*/

.hint {
    position: relative;
}

.hint .hint-text {
    visibility: hidden;
    width: 140px;
    background-color: var(--c-tip-bck);
    opacity: 0.9;
    color: var(--c-tip-txt);
    text-align: center;
    border-radius: var(--r-bor-nor);
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 50%;
    margin-left: -70px;
}

.hint .hint-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--c-tip-bck) transparent transparent transparent;
}


/*-----------------------------------------------------------------*/


[data-view="hov"] {
    animation: blink 5s infinite;
}

[data-view="fix"] {
    animation: blink 5s infinite;
}

@keyframes blink {
    0% {
        background-color: var(--c-grad-1);
    }
    50% {
        background-color: var(--c-grad-2);
    }
    100% {
        background-color: var(--c-grad-3);
    }
}