html {
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
}

body {
    user-select: none;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: url("../res/background/background-login.jpg") -25px -50px;
    background-size: calc(100% + 50px);
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    display: none;
}

*:focus {
    outline: none;
}

#login-form {
    margin-top: 40vh;
}

#login-form div {
    margin-top: 15px;
    margin-bottom: 15px;
}

input {
    background-color: rgba(0, 0, 0, .1);
    font-family: 'Century Gothic', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    font-size: 25px;
    border-radius: 3px;
    border: none;
    padding: 20px;
    width: 150px;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity .5s ease;
}

input:hover::-webkit-input-placeholder {
    transition: all .5s;
    color: #f1f1f1;
}

input::-webkit-input-placeholder {
    color: #6a737b;
}

#submit {
    background-color: rgba(255, 255, 255, .7);
    font-family: 'Century Gothic', sans-serif;
    color: #6a737b;
    letter-spacing: 3px;
    font-size: 25px;
    border-radius: 3px;
    border: none;
    width: 190px;
    height: 50px;
    cursor: pointer;
}

#submit:hover {
    transition: all .5s;
    background-color: cornflowerblue;
    opacity: .9;
    color: #f1f1f1;
}