/*-------------------------------------------------------------------
СПРАВКА
    box-shadow: 
    0px  +вправо, -влево
    0px  +вниз, -вверх
    0px  размытие только в +
    0px  +в стороны, -в центр
    rgba(0, 0, 0, .0) цвет со степенью прозрачности

    Opacity %   255 Step        2 digit HEX prefix
    0%          0.00            00
    5%          12.75           0C
    10%         25.50           19
    15%         38.25           26
    20%         51.00           33
    25%         63.75           3F
    30%         76.50           4C
    35%         89.25           59
    40%         102.00          66
    45%         114.75          72
    50%         127.50          7F
    55%         140.25          8C
    60%         153.00          99
    65%         165.75          A5
    70%         178.50          B2
    75%         191.25          BF
    80%         204.00          CC
    85%         216.75          D8
    90%         229.50          E5
    95%         242.25          F2
    100%        255.00          FF
-------------------------------------------------------------------*/
    
:root {
    /* ---------------------------- GLOBAL ---------------------------- */
    /* document: -background -text */
    --c-doc-bck-nor    : #f9f9f9; /* f1f1f1 */
    --c-doc-bck-hov    : #ffffff;
    --c-doc-txt        : #6a737b; /* 2d2d2d */

    /* ---------------------------- BORDER ---------------------------- */
    /* radius-border-normal */
    --r-bor-nor        : 3px;

    /* ----------------------------- FONT ----------------------------- */
    /* font-document: -normal -extend */
    --f-doc-nor        : 15px;    
    --f-doc-ext        : 15px;    
    
    /* ---------------------------- TABLES ---------------------------- */
    /* table-borders-body-normal */
    --c-tab-bor-bod-nor: #DDDDDD;
    /* table-background-body: -normal -hovered */
    --c-tab-bck-bod-nor: transparent;
    --c-tab-bck-bod-hov: #ffffff;
    /* table-background-columns: -selected -reserver -adjacent -redeemed -hovered*/
    --c-tab-bck-col-sel: #c1d82f; /* #9DEA20 #BADA55 */ 
    --c-tab-bck-col-res: #00a4e4; /* #42b3f4 */
    --c-tab-bck-col-adj: #ff0000; /* #F4425F */
    --c-tab-bck-col-red: #6a737b; /* #696969 */
    --c-tab-bck-col-hov: #ffdd004c; /* #D5D5D5 */
    /* table-background-line-hovered */
    --c-tab-bck-lin-hov: #ffdd000c; /* F6F6F4 */

    /* ---------------------------- BUTTONS ---------------------------- */
    /* button-text-noraml: -positive -negative -neutral -extend */
    --c-btn-txt-nor-pos: #6a737b;
    --c-btn-txt-nor-neg: #6a737b;
    --c-btn-txt-nor-neu: #6a737b;
    --c-btn-txt-nor-ext: #6a737b;
    /* button-text-hovered: -positive -negative -neutral -extend */
    --c-btn-txt-hov-pos: #ffffff;
    --c-btn-txt-hov-neg: #ffffff;
    --c-btn-txt-hov-neu: #6a737b;
    --c-btn-txt-hov-ext: #ffffff;
    /* button-background-noraml: -positive -negative -neutral -extend */
    --c-btn-bck-nor-pos: transparent;
    --c-btn-bck-nor-neg: transparent;
    --c-btn-bck-nor-neu: transparent;
    --c-btn-bck-nor-ext: transparent;
    /* button-background-hovered: -positive -negative -neutral -extend */
    --c-btn-bck-hov-pos: #c1d82f;
    --c-btn-bck-hov-neg: #ff0000;
    --c-btn-bck-hov-neu: #ffffff;
    --c-btn-bck-hov-ext: #00a4e4;

    /* ---------------------------- TOOLTIP ---------------------------- */
    /* tooltip: -text -background*/
    --c-tip-txt        : #00a4e4; /* 42b3f4 */
    --c-tip-bck        : #ffffff;

    /* ----------------------------- POPUP ----------------------------- */
    /* popup-text: -top -body*/
    --c-pop-txt-top    : #6a737b;
    --c-pop-txt-bod    : #6a737b;
    /* popup-background: -top -body*/
    --c-pop-bck-top    : #eeeeee;
    --c-pop-bck-bod    : #eeeeee;

    /* ----------------------------- MODAL ----------------------------- */
    /* modal-back: -noraml -hovered */
    --c-mod-bck-nor    : #f1f1f1;
    --c-mod-bck-hov    : #ffffff;
    /* modal-back-top: -negative -positive -neutral -extend */
    --c-mod-bck-top-neg: #ff0000;
    --c-mod-bck-top-pos: #c1d82f;
    --c-mod-bck-top-neu: #ffffff;
    --c-mod-bck-top-ext: #00a4e4;
    /* modal-back: -body -bottom */
    --c-mod-bck-bod    : #f1f1f1;
    --c-mod-bck-bot    : #f1f1f1;
    /* modal-text-top: -negative -positive -neutral -extend */
    --c-mod-txt-top-neg: #ffffff;
    --c-mod-txt-top-pos: #ffffff;
    --c-mod-txt-top-neu: #6a737b;
    --c-mod-txt-top-ext: #ffffff; 

    /* ---------------------------- SHADOW ----------------------------- */
    /* box */
    --s-nor            : 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --s-hov            : 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    /* ---------------------------- CUSTOM ----------------------------- */
    --c-custom-1: #F06E58;
    --c-custom-2: #FEA45D;
    --c-custom-3: #FDF569;
    --c-custom-4: #B9EA7B;
    --c-custom-5: #B9ECFE;
    --c-custom-6: #82DDFF;
    --c-custom-7: #B9ECFE;
    --c-custom-8: #6969697F;
    --c-custom-9: #B9ECFE;
}

/*-------------------------------------------------------------------
    MAIN BEGIN
-------------------------------------------------------------------*/
html {
    font-family: 'Century Gothic', sans-serif;
    font-size: var(--f-doc-nor);
    text-align: center;
}

body {
    color: var(--c-doc-txt);
    background-color: var(--c-doc-bck-nor);
    /*    nature-1 color-5 dark-3 white-2*/
    /* background-image: url("../res/background/texture-3.jpg"); */
    /* background-size: calc(100% + 50px); */
    /* background-repeat: repeat-y; */
    /* background-position: center; */
    /* background-size: cover; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

/*-------------------------------------------------------------------
    MAIN END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    TABLE CALENDAR BEGIN
-------------------------------------------------------------------*/
.calendar-block {
    display: inline-block;
    vertical-align: middle;
}

#calendar {
    background: var(--c-tab-bck-bod-nor);
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: var(--r-bor-nor);
    /* box-shadow: var(--s-nor);
    transition: all 0.3s; */
    margin-left: 15px;
    margin-right: 15px;
}

#calendar:hover {
    background: var(--c-tab-bck-bod-hov);
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 1;
}

#calendar td,
#calendar th {
    border: 1px solid var(--c-tab-bor-bod-nor);
    text-align: center;
    cursor: pointer;
    width: 1.5em;
    padding: 3px;
}

#calendar th {
    font-weight: 200;
    cursor: default;
}

#calendar tbody tr:hover {
    background-color: var(--c-tab-bck-lin-hov);
}

#calendar tbody td:hover {
    background-color: var(--c-tab-bck-col-hov);
}

#calendar tbody td:hover .hintText {
    visibility: visible;
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

.hint {
    position: relative;
}

.hint .hintText {
    visibility: hidden;
    width: 140px;
    background-color: var(--c-tip-bck);
    opacity: 0.9;
    color: var(--c-tip-txt);
    text-align: center;
    border-radius: var(--r-bor-nor);
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 50%;
    margin-left: -70px;
    /* border: 1px solid #a9ed2a; */
}

.hint .hintText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--c-tip-bck) transparent transparent transparent;
}

#calendar .selected { background-color: var(--c-tab-bck-col-sel); }
.reserved { background-color: var(--c-tab-bck-col-res); }
.adjacent { background-color: var(--c-tab-bck-col-adj); }
.redeemed { background-color: var(--c-tab-bck-col-red); }
/*-------------------------------------------------------------------
    TABLE CALENDAR END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    TABLE GUESTS BEGIN
-------------------------------------------------------------------*/
#book {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 1000px;
    text-align: center;
    border-spacing: 3px 8px;
}

/* #book:hover > tbody > tr:hover > td { */
    /* animation: blink 5s infinite; */
    /* background: var(--c-tab-bck-bod-hov); */
    /* box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 1; */
/* } */

#book>tbody>tr>td {
    /* background-color: white; */
    border: 1px solid var(--c-tab-bor-bod-nor);
    /* border-radius: var(--r-bor-nor); */
    /* box-shadow: var(--s-nor); */
    /* transition: all 0.3s; */
}

#book>tbody>tr>td:first-child {
    width: 5%;
    border-top-left-radius: var(--r-bor-nor);
    border-bottom-left-radius: var(--r-bor-nor);
}

#book>tbody>tr>td:last-child {
    width: 95%;
    border-top-right-radius: var(--r-bor-nor);
    border-bottom-right-radius: var(--r-bor-nor);
}

#book .selected { 
    border: 1px solid transparent;
    animation: blink 5s infinite;
}


.innerBook {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.innerBook>tbody>tr>td {
    border: none;
    padding: 3px;
}

.innerBook>tbody>tr>td:first-child {
    width: 65%;
}

.innerBook>tbody>tr>td:nth-child(2) {
    width: 20%;
}

.innerBook>tbody>tr>td:last-child {
    width: 15%;
}

.person-name {
    text-align: left;
    font-weight: bold;
}

.person-info {
    text-align: left;
    font-style: italic;
}

.dates {
    text-align: right;
}

.price,
.paid {
    text-align: center;
}

.alignLeft { text-align: left; }
.alignRight { text-align: right; }
/*-------------------------------------------------------------------
    TABLE GUESTS END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    BUTTONS BEGIN
-------------------------------------------------------------------*/
.btn {
    color: var(--c-btn-txt-nor-neu);
    font-size: var(--f-doc-ext);
    background-color: var(--c-btn-bck-nor-neu);
    font-family: 'Century Gothic', sans-serif;
    border-radius: var(--r-bor-nor);
    box-shadow: var(--s-nor);
    transition: all 0.3s;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 7px;
    margin: 4px;
    width: auto;
    height: auto;
}

.btn:focus {
    outline: none;
}

.btn:active {
    outline: none;
}

.btn:hover {
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

.btn.positive:hover {
    color: var(--c-btn-txt-hov-pos);
    background: var(--c-btn-bck-hov-pos);
}

.btn.negative:hover {
    color: var(--c-btn-txt-hov-neg);
    background: var(--c-btn-bck-hov-neg);
}

.btn.neutral:hover {
    color: var(--c-btn-txt-hov-neu);
    background: var(--c-btn-bck-hov-neu);
}

.btn.extend:hover {
    color: var(--c-btn-txt-hov-ext);
    background: var(--c-btn-bck-hov-ext);
}

#month-left,
#month-right {
    width: 45px;
    height: 40px;
    background-color: transparent;
    box-shadow: none;
}

#icon-left, 
#icon-right {
    width: 25px;
}

#addGuest,
#editGuest,
#delGuest {
    box-shadow: none;
    border: 1px solid var(--c-tab-bor-bod-nor);
}

#addGuest:hover,
#editGuest:hover,
#delGuest:hover {
    border: 1px solid transparent;
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}


/*-------------------------------------------------------------------
    BUTTONS END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    POPUP DIALOG BEGIN
    FIX:
    Размеры окна и полей ввода
-------------------------------------------------------------------*/
.modal-dialog {
    font-family: 'Century Gothic', sans-serif;
    display: none;
    z-index: 1;
    background-color: rgba(0, 0, 0, .3);
    background-image: repeating-linear-gradient( -45deg,
    rgba(180, 180, 180, .3),
    rgba(180, 180, 180, .3) 6.5px,
    rgba(150, 150, 150, .3) 6.5px,
    rgba(150, 150, 150, .3) 13px);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 10%;
}

.modal-content {
    background-color: var(--c-mod-bck-nor);
    display: inline-block;
    border-radius: 3px;
    width: 20%;
    min-width: 330px;
}

.modal-header {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.modal-body {
    /* font: 400 13.3333px Century Gothic; */
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px;
}

.modal-footer {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.modal-body table {
    width: 100%;
}

.modal-header-negative {
    color: var(--c-mod-txt-top-neg);
    background-color: var(--c-mod-bck-top-neg);
}
.modal-header-positive {
    color: var(--c-mod-txt-top-pos);
    background-color: var(--c-mod-bck-top-pos);
}
.modal-header-neutral {
    color: var(--c-mod-txt-top-neu);
    background-color: var(--c-mod-bck-top-neu);
}
.modal-header-extend {
    color: var(--c-mod-txt-top-ext);
    background-color: var(--c-mod-bck-top-ext);
}

/* input*/
.input {
    font-family: 'Century Gothic', sans-serif;
    border-radius: var(--r-bor-nor);
    border: 1px solid var(--c-tab-bor-bod-nor);
    padding: 4px;
    margin: 2px;
}
#in_id      { float: left; width: 0px; }
#in_dayin   { float: left; width: 40px; }
#in_dayout  { float: left; width: 40px; }
#in_room    { float: left; width: 50px; }
#in_price   { float: left; width: 50px; }
#in_paid    { float: left; width: 50px; }
#in_name    { float: left; width: 100%; }
#in_tel     { float: left; width: 100%; }
#in_info    { float: left; width: 100%; }

#in_year {
    text-align: center;
    border: none;
    border-radius: 3px;
    width: 60px;
    height: 30px;
}
/*-------------------------------------------------------------------
    POPUP DIALOG END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    TOOLTIP BEGIN
-------------------------------------------------------------------*/
.view, [class$='-view'] {
    border: 1px solid transparent;
    animation: blink 5s infinite;
    /* box-shadow: 0px 10px 0px  -2px rgba(0, 0, 0, .1); */
    /* z-index: 2;
    transition: all .5s ease-in-out;
    transform: scale(1.05); */
    /* background-color: var(--c-tab-bck-col-sel); */
}

.view-fix, [class$='-view-fix'] {
    border: 1px solid transparent;
    animation: blink 5s infinite;
}

@keyframes blink {
    0% { background-color: #ffdd004c; }
    50% { background-color: #ffdd0099; }
    100% { background-color: #ffdd004c; }
/*     0%   {        background-color: var(--c-custom-1);    }
    10%  {        background-color: var(--c-custom-2);    }
    20%  {        background-color: var(--c-custom-3);    }
    30%  {        background-color: var(--c-custom-4);    }
    40%  {        background-color: var(--c-custom-5);    }
    50%  {        background-color: var(--c-custom-6);    }
    60%  {        background-color: var(--c-custom-5);    }
    70%  {        background-color: var(--c-custom-4);    }
    80%  {        background-color: var(--c-custom-3);    }
    90%  {        background-color: var(--c-custom-2);    }
    100% {        background-color: var(--c-custom-1);    } */
/*     from {background-color: #42b3f4;}
    to {background-color: #9dea20;} */
}
/*-------------------------------------------------------------------
    TOOLTIP END
-------------------------------------------------------------------*/