/*-------------------------------------------------------------------
СПРАВКА
    box-shadow: 
    0px  +вправо, -влево
    0px  +вниз, -вверх
    0px  размытие только в +
    0px  +в стороны, -в центр
    rgba(0, 0, 0, .0) цвет со степенью прозрачности

    Opacity %   255 Step        2 digit HEX prefix
    0%          0.00            00
    5%          12.75           0C
    10%         25.50           19
    15%         38.25           26
    20%         51.00           33
    25%         63.75           3F
    30%         76.50           4C
    35%         89.25           59
    40%         102.00          66
    45%         114.75          72
    50%         127.50          7F
    55%         140.25          8C
    60%         153.00          99
    65%         165.75          A5
    70%         178.50          B2
    75%         191.25          BF
    80%         204.00          CC
    85%         216.75          D8
    90%         229.50          E5
    95%         242.25          F2
    100%        255.00          FF
-------------------------------------------------------------------*/
    
:root {
    /* ---------------------------- BORDER ---------------------------- */
    /* radius-border-normal */
    --r-bor-nor: 3px;
    /* ----------------------------- FONT ----------------------------- */
    /* font-document: -normal -extend */
    --f-doc-nor: 15px;    
    --f-doc-ext: 15px;    
    /* ---------------------------- SHADOW ----------------------------- */
    /* box */
    --s-nor    : 0  3px  6px rgba(0, 0, 0, 0.16), 0  3px  6px rgba(0, 0, 0, 0.23);
    --s-hov    : 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    /* ---------------------------- GLOBAL ---------------------------- */
    /* document: -background -text */
    --c-doc-bck-nor    : #f1f1f1; /* f9f9f9 f1f1f1 / ece5da f1ebe5 c4b59d  */ 
    --c-doc-bck-hov    : #f1f1f1;
    --c-doc-txt        : #6a737b; /* 6a737b 2d2d2d */
    --c-doc-txt-ext    : #6a737b; /* 6a737b 2d2d2d */

    /* ---------------------------- TABLES ---------------------------- */
    /* table-borders-body-normal */
    --c-tab-bor-bod-nor: #DDDDDD; /* DDDDDD rgba(255,255,255,0.2) */
    /* table-background-body: -normal -hovered */
    --c-tab-bck-bod-nor: transparent;
    --c-tab-bck-bod-hov: transparent;
    /* table-background-columns: -selected -reserver -adjacent -redeemed -hovered*/
    --c-tab-bck-col-sel: #c1d82f; /* #c1d82f #9DEA20 #BADA55 */ 
    --c-tab-bck-col-res: #00a4e4; /* #42b3f4 */
    --c-tab-bck-col-adj: #F4425F; /* #ff0000 #F4425F */
    --c-tab-bck-col-red: #6a737b; /* #696969 */
    --c-tab-bck-col-hov: #ffdd00; /* #D5D5D5 */
    /* table-background-line-hovered */
    --c-tab-bck-lin-hov: #ffdd000c; /* F6F6F4 */
    /* table-inner-text-comment */
    --c-tab-inr-txt-cmt: #6a737bcc;

    /* ---------------------------- BUTTONS ---------------------------- */
    /* button-text-noraml: -positive -negative -neutral -extend */
    --c-btn-txt-nor-pos: #6a737b;
    --c-btn-txt-nor-neg: #6a737b;
    --c-btn-txt-nor-neu: #6a737b;
    --c-btn-txt-nor-ext: #6a737b;
    /* button-text-hovered: -positive -negative -neutral -extend */
    --c-btn-txt-hov-pos: #f1f1f1;
    --c-btn-txt-hov-neg: #f1f1f1;
    --c-btn-txt-hov-neu: #6a737b;
    --c-btn-txt-hov-ext: #f1f1f1;
    /* button-background-noraml: -positive -negative -neutral -extend */
    --c-btn-bck-nor-pos: transparent;
    --c-btn-bck-nor-neg: transparent;
    --c-btn-bck-nor-neu: transparent;
    --c-btn-bck-nor-ext: transparent;
    /* button-background-hovered: -positive -negative -neutral -extend */
    --c-btn-bck-hov-pos: #00a4e4; /* c1d82f */
    --c-btn-bck-hov-neg: #F4425F;
    --c-btn-bck-hov-neu: #f1f1f1;
    --c-btn-bck-hov-ext: #ffdd00E5; /* 00a4e4 */

    /* ---------------------------- TOOLTIP ---------------------------- */
    /* tooltip: -text -background*/
    --c-tip-txt        : #00a4e4; /* 42b3f4 */
    --c-tip-bck        : #f1f1f1;

    /* ----------------------------- POPUP ----------------------------- */
    /* popup-text: -top -body*/
    --c-pop-txt-top    : #6a737b;
    --c-pop-txt-bod    : #6a737b;
    /* popup-background: -top -body*/
    --c-pop-bck-top    : #f1f1f1;
    --c-pop-bck-bod    : #f1f1f1;

    /* ----------------------------- MODAL ----------------------------- */
    /* modal-text */
    --c-mod-txt        : #6a737b;
    /* modal-back */
    --c-mod-bck        : rgba(0, 0, 0, 0.3);
    /* modal-back-content */
    --c-mod-bck-cnt    : #f1f1f1;
    /* modal-back: -noraml -hovered */
    --c-mod-bck-nor    : #f1f1f1;
    --c-mod-bck-hov    : #f1f1f12c;
    /* modal-back-top: -negative -positive -neutral -extend */
    --c-mod-bck-top-neg: #F4425F;
    --c-mod-bck-top-pos: #00a4e4;
    --c-mod-bck-top-neu: #f1f1f1;
    --c-mod-bck-top-ext: #ffdd00E5;
    /* modal-back: -body -bottom */
    --c-mod-bck-bod    : #f1f1f1;
    --c-mod-bck-bot    : #f1f1f1;
    /* modal-text-top: -negative -positive -neutral -extend */
    --c-mod-txt-top-neg: #f1f1f1;
    --c-mod-txt-top-pos: #f1f1f1;
    --c-mod-txt-top-neu: #6a737b;
    --c-mod-txt-top-ext: #f1f1f1;
    --c-mod-txt-inp    : #f1f1f1;

    /* ---------------------------- CUSTOM ----------------------------- */
    --c-custom-1: #F06E58;
    --c-custom-2: #FEA45D;
    --c-custom-3: #FDF569;
    --c-custom-4: #B9EA7B;
    --c-custom-5: #B9ECFE;
    --c-custom-6: #82DDFF;
    --c-custom-7: #B9ECFE;
    --c-custom-8: #6969697F;
    --c-custom-9: #B9ECFE;

    /* --------------------------- GRADIENT ---------------------------- */
    --c-grad-1: #ffdd0099;
    --c-grad-2: #ffdd004c;
    --c-grad-3: #ffdd0099;
}

/*-------------------------------------------------------------------
    MAIN BEGIN
-------------------------------------------------------------------*/
html {
    font-family: 'Century Gothic', sans-serif;
    font-size: var(--f-doc-nor);
    text-align: center;
}

body {
    user-select: none;
    color: var(--c-doc-txt);
    background-color: var(--c-doc-bck-nor);
    // background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
    background-blend-mode: screen;
    // background-image: url("../res/background/new-3.jpg"); /* new-3*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

::-webkit-scrollbar { 
    display: none; 
}
/*-------------------------------------------------------------------
    MAIN END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    TABLE CALENDAR BEGIN
-------------------------------------------------------------------*/
.calendar-block {
    display: inline-block;
    vertical-align: middle;
}

#calendar {
    background: var(--c-tab-bck-bod-nor);
    table-layout: fixed;
    border-collapse: collapse;
}

#calendar:hover {
    background: var(--c-tab-bck-bod-hov);
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 1;
}

#calendar td,
#calendar th {
    border: 1px solid var(--c-tab-bor-bod-nor); 
    text-align: center;
    cursor: pointer;
    width: 1.5em;
    padding: 6px;
}

#calendar th {
    font-weight: 200;
    cursor: default;
}

#calendar tbody tr:hover th {
    animation: blink 5s infinite;
}

#calendar tbody td:hover {
    background-color: var(--c-tab-bck-col-hov);
}

#calendar tbody td:hover .hintText {
    visibility: visible;
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

.hint {
    position: relative;
}

.hint .hintText {
    visibility: hidden;
    width: 140px;
    background-color: var(--c-tip-bck);
    opacity: 0.9;
    color: var(--c-tip-txt);
    text-align: center;
    border-radius: var(--r-bor-nor);
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 50%;
    margin-left: -70px;
}

.hint .hintText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--c-tip-bck) transparent transparent transparent;
}

.selected { background-color: var(--c-tab-bck-col-sel); }
.reserved { background-color: var(--c-tab-bck-col-res); }
.adjacent { background-color: var(--c-tab-bck-col-adj); }
.redeemed { background-color: var(--c-tab-bck-col-red); }
/*-------------------------------------------------------------------
    TABLE CALENDAR END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    TABLE GUESTS BEGIN
-------------------------------------------------------------------*/
#book {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 1000px;
    text-align: center;
    border-spacing: 3px 8px;
}

#book:hover > tbody > tr:hover > td {
    border: 1px solid transparent;
    box-shadow: var(--s-nor);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 1;
}

#book > tbody > tr > td {
    border: 1px solid var(--c-tab-bor-bod-nor);
}

#book > tbody > tr > td:first-child {
    width: 5%;
    border-top-left-radius: var(--r-bor-nor);
    border-bottom-left-radius: var(--r-bor-nor);
}

#book > tbody > tr > td:last-child {
    padding: 4px;
    width: 95%;
    border-top-right-radius: var(--r-bor-nor);
    border-bottom-right-radius: var(--r-bor-nor);
}

#book .selected { 
    border: 1px solid transparent;
    animation: blink 5s infinite;
}


.innerBook {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.innerBook>tbody>tr>td {
    border: none;
    padding: 3px;
}

.innerBook>tbody>tr>td:first-child {
    width: 80%;
}

.innerBook>tbody>tr>td:nth-child(2) {
    width: 8%;
}

.innerBook>tbody>tr>td:nth-child(3) {
    width: 5%;
}

.innerBook>tbody>tr>td:last-child {
    width: 7%;
}

.person-base-info {
    text-align: left;
}

.person-name {
    font-weight: bold;
}
.person-name:after {
    content: " ";
}

.person-tel:before {
    vertical-align: middle;
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid slice" height="15" width="15" fill="#00a4e4" xmlns="http://www.w3.org/2000/svg"><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/></svg>');
}

.person-tel {
    font-size: 14px;
    color: var(--c-tab-inr-txt-cmt);
}

.person-info {
    font-size: 14px;
    color: var(--c-tab-inr-txt-cmt);
    text-align: left;
    font-style: italic;
}

.person-room-num {
    color: var(--c-tab-bck-col-res);
}
.person-room-num:before {
    display: block;
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid slice" height="15" width="15" fill="#00a4e4" xmlns="http://www.w3.org/2000/svg"><path d="M7 13c1.66 0 3-1.34 3-3S8.66 7 7 7s-3 1.34-3 3 1.34 3 3 3zm12-6h-8v7H3V5H1v15h2v-3h18v3h2v-9c0-2.21-1.79-4-4-4z"/></svg>');
}

.person-dates {
    text-align: right;
}

.person-room-price,
.person-room-paid {
    text-align: right;
}

.alignLeft { text-align: left; }
.alignRight { text-align: right; }
/*-------------------------------------------------------------------
    TABLE GUESTS END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    BUTTONS BEGIN
-------------------------------------------------------------------*/
.btn {
    color: var(--c-btn-txt-nor-neu);
    font-size: var(--f-doc-ext);
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    background-color: var(--c-btn-bck-nor-neu);
    border: 1px solid var(--c-tab-bor-bod-nor);
    border-radius: var(--r-bor-nor);
    box-shadow: none;
    transition: all 0.3s;
    vertical-align: middle;
    cursor: pointer;
    padding: 7px;
    margin: 4px;
    width: auto;
    height: auto;
}

.btn:focus {
    outline: none;
}

.btn:active {
    outline: none;
}

.btn:hover {
    border: 1px solid transparent;
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

.btn.positive:hover {
    color: var(--c-btn-txt-hov-pos);
    background: var(--c-btn-bck-hov-pos);
}

.btn.negative:hover {
    color: var(--c-btn-txt-hov-neg);
    background: var(--c-btn-bck-hov-neg);
}

.btn.neutral:hover {
    color: var(--c-btn-txt-hov-neu);
    background: var(--c-btn-bck-hov-neu);
}

.btn.extend:hover {
    color: var(--c-btn-txt-hov-ext);
    background: var(--c-btn-bck-hov-ext);
}

#month-left,
#month-right {
    width: 45px;
    height: 40px;
    background-color: var(--c-btn-bck-nor-neu);
    box-shadow: none;
    border: none;
}

#addGuest:hover,
#editGuest:hover,
#delGuest:hover {
    border: 1px solid transparent;
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}
/*-------------------------------------------------------------------
    BUTTONS END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    ICONS BEGIN
-------------------------------------------------------------------*/
#icon-left, 
#icon-right {
    width: 25px;
}
/*-------------------------------------------------------------------
    ICONS END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    POPUP DIALOG BEGIN
-------------------------------------------------------------------*/
.modal-dialog {
    font-family: 'Century Gothic', sans-serif;
    display: none;
    z-index: 1;
    background-color: var(--c-mod-bck);
    background-image: repeating-linear-gradient( -45deg,
    rgba(180, 180, 180, .3),
    rgba(180, 180, 180, .3) 6.5px,
    rgba(150, 150, 150, .3) 6.5px,
    rgba(150, 150, 150, .3) 13px);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 10%;
    color: var(--c-mod-txt);
}

.modal-content {
    background-color: var(--c-mod-bck-cnt);
    display: inline-block;
    border-radius: 3px;
}

.modal-content .btn { 
    color: var(--c-btn-txt-nor-neu);
}

.modal-input {
    width: auto;
}

.modal-inout {
    width: auto;
}

.modal-confirm {
    width: 420px;
}

.modal-header {
    border-radius: 3px 3px 0px 0px;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
}

.modal-body {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px;
}

.modal-footer {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.modal-body table {
    width: 100%;
}

.modal-header-negative {
    color: var(--c-mod-txt-top-neg);
    background-color: var(--c-mod-bck-top-neg);
}
.modal-header-positive {
    color: var(--c-mod-txt-top-pos);
    background-color: var(--c-mod-bck-top-pos);
}
.modal-header-neutral {
    color: var(--c-mod-txt-top-neu);
    background-color: var(--c-mod-bck-top-neu);
}
.modal-header-extend {
    color: var(--c-mod-txt-top-ext);
    background-color: var(--c-mod-bck-top-ext);
}

/* input*/
.input {
    opacity: .8;
    background-color: var(--c-mod-txt-inp);
    color: var(--c-doc-txt-ext);
    font-family: 'Century Gothic', sans-serif;
    border-radius: var(--r-bor-nor);
    border: 1px solid var(--c-tab-bor-bod-nor);
    padding: 4px;
    margin: 2px;
}

#in_id      { float: left; width: 0px; }
#in_dayin   { float: left; width: 40px; }
#in_dayout  { float: left; width: 40px; }
#in_room    { float: left; width: 50px; }
#in_price   { float: left; width: 50px; }
#in_paid    { float: left; width: 50px; }
#in_name    { float: left; width: 96%; }
#in_tel     { float: left; width: 96%; }
#in_info    { float: left; width: 96%; }

#in_year {
    text-align: center;
    border: none;
    border-radius: 3px;
    width: 60px;
    height: 25px;
}
/*-------------------------------------------------------------------
    POPUP DIALOG END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    TOOLTIP BEGIN
-------------------------------------------------------------------*/
.view, [class$='-view'] {
    animation: blink 5s infinite;
}

.view-fix, [class$='-view-fix'] {
    animation: blink 5s infinite;
}

@keyframes blink {
    0% { background-color:   var(--c-grad-1); }
    50% { background-color:  var(--c-grad-2); }
    100% { background-color: var(--c-grad-3); }
}
/*-------------------------------------------------------------------
    TOOLTIP END
-------------------------------------------------------------------*/