
/*-------------------------------------------------------------------
СПРАВКА
    box-shadow: 
    0px  +вправо, -влево
    0px +вниз, -вверх
    0px  размытие только в +
    0px  +в стороны, -в центр
    rgba(0, 0, 0, .0) цвет со степенью прозрачности
-------------------------------------------------------------------*/
    
:root {
    /* ---------------------------- GLOBAL ---------------------------- */
    /* document: -background -text */
    --c-doc-bck-nor    : #f1f1f1;
    --c-doc-bck-hov    : #ffffff;
    --c-doc-txt        : #2d2d2d;
    
    /* ---------------------------- TABLES ---------------------------- */
    /* table-borders-body-normal */
    --c-tab-bor-bod-nor: #DDDDDD;
    /* table-background-body: -normal -hovered */
    --c-tab-bck-bod-nor: transparent;
    --c-tab-bck-bod-hov: #ffffff;
    /* table-background-columns: -selected -reserver -adjacent -redeemed */
    --c-tab-bck-col-sel: #9DEA20;/*#42F47E;*/ 
    --c-tab-bck-col-res: #42b3f4;
    --c-tab-bck-col-adj: #F4425F;
    --c-tab-bck-col-red: #696969;

    /* ---------------------------- BUTTONS ---------------------------- */
    /* button-text-noraml: -positive -negative -neutral -extend */
    --c-btn-txt-nor-pos: #2d2d2d;
    --c-btn-txt-nor-neg: #2d2d2d;
    --c-btn-txt-nor-neu: #2d2d2d;
    --c-btn-txt-nor-ext: #2d2d2d;
    /* button-text-hovered: -positive -negative -neutral -extend */
    --c-btn-txt-hov-pos: #ffffff;
    --c-btn-txt-hov-neg: #ffffff;
    --c-btn-txt-hov-neu: #ffffff;
    --c-btn-txt-hov-ext: #ffffff;
    /* button-background-noraml: -positive -negative -neutral -extend */
    --c-btn-bck-nor-pos: transparent;
    --c-btn-bck-nor-neg: transparent;
    --c-btn-bck-nor-neu: transparent;
    --c-btn-bck-nor-ext: transparent;
    /* button-background-hovered: -positive -negative -neutral -extend */
    --c-btn-bck-hov-pos: #9DEA20;
    --c-btn-bck-hov-neg: #F4425F;
    --c-btn-bck-hov-neu: #ffffff;
    --c-btn-bck-hov-ext: #42b3f4;

    /* ---------------------------- TOOLTIP ---------------------------- */
    /* tooltip: -text -background*/
    --c-tip-txt        : #42b3f4;
    --c-tip-bck        : #ffffff;

    /* ----------------------------- POPUP ----------------------------- */
    /* popup-text: -top -body*/
    --c-pop-txt-top    : #2d2d2d;
    --c-pop-txt-bod    : #2d2d2d;
    /* popup-background: -top -body*/
    --c-pop-bck-top    : #eeeeee;
    --c-pop-bck-bod    : #eeeeee;

    /* ---------------------------- SHADOW ---------------------------- */
    /* box */
    --s-nor            : 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --s-hov            : 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    /* ---------------------------- CUSTOM ---------------------------- */
    --c-custom-1: #F06E58;
    --c-custom-2: #FEA45D;
    --c-custom-3: #FDF569;
    --c-custom-4: #B9EA7B;
    --c-custom-5: #B9ECFE;
    --c-custom-6: #82DDFF;
}

/*-------------------------------------------------------------------
    MAIN BEGIN
-------------------------------------------------------------------*/
html {
    font-family: 'Roboto', sans-serif;
    /*    font-family: "Courier New", Courier, monospace;*/
    text-align: center;
}

body {
    background-color: #f1f1f1;
    /*    nature-1 color-5 dark-3 white-2*/
    /* background-image: url("../res/background/texture-3.jpg"); */
    /* background-size: calc(100% + 50px); */
    /* background-repeat: repeat-y; */
    /* background-position: center; */
    /* background-size: cover; */
    position: sticky;
    top: 0;
    left: 0;
    /* right: 0; */
    width: 100%;
    height: 100%;
    z-index: 0;
}

.my-table {
    margin-left: auto;
    margin-right: auto;
}
/*-------------------------------------------------------------------
    MAIN END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    TABLE CALENDAR BEGIN
-------------------------------------------------------------------*/
.selected { background-color: var(--c-tab-bck-col-sel); }
.reserver { background-color: var(--c-tab-bck-col-res); }
.adjacent { background-color: var(--c-tab-bck-col-adj); }
.redeemed { background-color: var(--c-tab-bck-col-red); }

#calendar-table {
    background: var(--c-tab-bck-bod-nor);
    border-collapse: collapse;
    border-radius: 3px;
    table-layout: fixed;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: var(--s-nor);
    transition: all 0.3s;
}

#calendar-table:hover {
    background: var(--c-tab-bck-bod-hov);
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

#calendar-table td {
    border: 1px solid var(--c-tab-bor-bod-nor);
    padding: 3px;
    width: 3rem;
    text-align: center;
    cursor: pointer;
}

#calendar-table th {
    border: 1px solid var(--c-tab-bor-bod-nor);
    color: var(--c-doc-txt);
    padding: 3px;
    width: 3rem;
    text-align: center;
    cursor: default;
    font-weight: 200;
}

#calendar-table tbody tr:hover {
    background-color: #f5f5f5; /* FIX: change ???*/
}

/* 
FIX:
Возможно стит передать эту задачу в ту же логику где присваивается кдасс
(.viewed) что бы небыло путаницы...
*/
#calendar-table tbody td:hover {
    background-color: var(--c-tab-bck-col-sel);
}

.calendar-block {
    display: inline-block;
    vertical-align: middle;
}

.hint {
    position: relative;
}

.hint .hintText {
    visibility: hidden;
    width: 140px;
    background-color: var(--c-tip-bck);
    opacity: 0.9;
    color: var(--c-tip-txt);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 50%;
    margin-left: -70px;
    /* border: 1px solid #a9ed2a; */
}

.hint .hintText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--c-tip-bck) transparent transparent transparent;
}

#calendar-table tbody td:hover .hintText {
    visibility: visible;
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

#calendar-table tbody tr td.viewed {
    /* border: none; */
    /* border-color: var(--c-tab-bck-col-sel); */
}

/*-------------------------------------------------------------------
    TABLE CALENDAR END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    TABLE GUESTS BEGIN
-------------------------------------------------------------------*/
#guests-table {
    background: var(--c-tab-bck-bod-nor);
    border-collapse: collapse;
    border-radius: 3px;
    table-layout: fixed;
    box-shadow: var(--s-nor);
    transition: all 0.3s;
}

#guests-table:hover {
    background: var(--c-tab-bck-bod-hov);
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

#guests-table td {
    border: 1px solid var(--c-tab-bor-bod-nor);
    padding: 4px;
    width: 1.4rem;
    cursor: pointer;
    white-space: nowrap;
}

#guests-table th {
    border: 1px solid var(--c-tab-bor-bod-nor);
    font-weight: 200;
    padding: 4px;
    width: 1.4rem;
    text-align: center;
    cursor: default;
}

#guests-table tbody tr.viewed td {
    /* border: none; */
    /* border-color: var(--c-tab-bck-col-sel); */
}

.alignLeft { text-align: left; }

.alignRight { text-align: right; }

.viewed {
    box-shadow: 0px 10px 0px  -2px rgba(0, 0, 0, .1);
    z-index: 1;
    transition: all .5s ease-in-out;
    transform: scale(1.1);

    background-color: var(--c-tab-bck-col-sel) !important;
    /* animation: blink 15s infinite !important; */
}

@keyframes blink {
    0%   {        background-color: var(--c-custom-1);    }
    10%  {        background-color: var(--c-custom-2);    }
    20%  {        background-color: var(--c-custom-3);    }
    30%  {        background-color: var(--c-custom-4);    }
    40%  {        background-color: var(--c-custom-5);    }
    50%  {        background-color: var(--c-custom-6);    }
    60%  {        background-color: var(--c-custom-5);    }
    70%  {        background-color: var(--c-custom-4);    }
    80%  {        background-color: var(--c-custom-3);    }
    90%  {        background-color: var(--c-custom-2);    }
    100% {        background-color: var(--c-custom-1);    }
/*     from {background-color: #42b3f4;}
    to {background-color: #9dea20;} */
}
/*-------------------------------------------------------------------
    TABLE GUESTS END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    BUTTONS BEGIN
-------------------------------------------------------------------*/
#month-button-left,
#month-button-right {
    background-color: var(--c-btn-bck-nor-neu);
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    width: 45px;
    height: 40px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: var(--s-nor);
    transition: all 0.3s;
}

#month-button-left:hover,
#month-button-right:hover {
    background: var(--c-btn-bck-hov-neu);
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

#addGuest {
    cursor: pointer;
    padding: 4px;
    border: none;
    border-radius: 2px;
    background-color: var(--c-btn-bck-nor-pos);
    box-shadow: var(--s-nor);
    transition: all 0.3s;
}

#addGuest:hover {
    color: var(--c-btn-txt-hov-pos);
    background: var(--c-btn-bck-hov-pos);
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

#editGuest {
    cursor: pointer;
    padding: 4px;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    background-color: var(--c-btn-bck-nor-ext);
    box-shadow: var(--s-nor);
    transition: all 0.3s;
}

#editGuest:hover {
    color: var(--c-btn-txt-hov-ext);
    background: var(--c-btn-bck-hov-ext);
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

#delGuest {
    cursor: pointer;
    padding: 4px;
    border: none;
    border-radius: 2px;
    background-color: var(--c-btn-bck-nor-neg);
    box-shadow: var(--s-nor);
    transition: all 0.3s;
}

#delGuest:hover {
    color: var(--c-btn-txt-hov-neg);
    background: var(--c-btn-bck-hov-neg);
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

#save {
    background: var(--c-btn-bck-nor-pos);
    color: var(--c-btn-txt-nor-pos);
    padding: 4px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: var(--s-nor);
    transition: all 0.3s;
}

#save:hover {
    color: var(--c-btn-txt-hov-pos);
    background: var(--c-btn-bck-hov-pos);
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

#close {
    background: var(--c-btn-bck-nor-neg);
    color: var(--c-btn-txt-nor-neg);
    padding: 4px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 3px;
    box-shadow: var(--s-nor);
    transition: all 0.3s;
}

#close:hover {
    color: var(--c-btn-txt-hov-neg);
    background: var(--c-btn-bck-hov-neg);
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

#year-button-pick {
    color: var(--c-btn-txt-nor-neu);
    background-color: var(--c-btn-bck-nor-neu);
    cursor: pointer;
    font-size: 15px;
    width: 60px;
    height: 30px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: var(--s-nor);
    transition: all 0.3s;
}

#year-button-pick>label {
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    font-size: initial !important; /* bootstrap*/
    font-weight: 200 !important;  /* bootstrap*/
}

#year-button-pick:hover {
    background: var(--c-btn-bck-hov-neu);
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}
/*-------------------------------------------------------------------
    BUTTONS END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    INPUT/OUTPUT FIELDS BEGIN
-------------------------------------------------------------------*/
input#dayin {    text-align: center;}
input#dayout {    text-align: center;}
input#room {    text-align: center;}
input#price {    text-align: center;}
input#paid {    text-align: center;}
input#name {    text-align: left;}
input#tel {    text-align: left;}
input#text {    text-align: left;}
/*-------------------------------------------------------------------
    INPUT/OUTPUT FIELDS END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    DATA-TIP BEGIN
-------------------------------------------------------------------*/
[data-tip]>input {
    margin-top: 6px;
    margin-right: 3px;
}

/* Span text */

[data-tip] {
    position: relative;
}

[data-tip]:before {
    content: '';
    display: none;
    position: absolute;
    top: 30px;
    left: 25px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--c-tip-bck);
}

[data-tip]:after {
    content: attr(data-tip);
    display: none;
    position: absolute;
    top: 35px;
    left: 0px;
    z-index: 9;
    font-size: 14px;
    line-height: 18px;
    /*    height: 18px;*/
    padding: 5px 8px;
    opacity: 0.9;
    background: var(--c-tip-bck);
    color: var(--c-tip-txt);
    border-radius: 2px;
    /*    white-space: nowrap;*/
    word-wrap: normal;
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

[data-tip]:hover:before,
[data-tip]:hover:after {
    display: block;
}
/*-------------------------------------------------------------------
    DATA-TIP END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    UI DIALOG BEGIN
-------------------------------------------------------------------*/
.ui-dialog .ui-dialog-content {
    /*    padding: 2em;*/
    /* background: #fff; */
    height: 180px !important;
}

.ui-widget-content {
    border: none !important;
    /* color: #222 !important; */
    background: var(--c-pop-bck-bod) !important;
}

.ui-dialog-buttonpane {
    text-align: center !important;
    margin-top: 0px !important;
}

.ui-dialog-buttonset {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}

/* GUI titlebar */
.ui-dialog .ui-dialog-titlebar {
    display: none;
}
/*-------------------------------------------------------------------
    UI DIALOG END
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    PROMPT BOOTSTRAP DIALOG BEGIN
    override bootstrap
-------------------------------------------------------------------*/
.modal-dialog .modal-own {
    border-radius: 3px !important;
    background: var(--c-pop-bck-bod);
}

.modal-own-button-ok {
    color: var(--c-btn-txt-nor-pos) !important;
    background-color: var(--c-btn-bck-nor-pos) !important;
    border-radius: 3px !important;
    border: none !important;
    box-shadow:var(--s-nor);
    transition: all 0.3s;
}

.modal-own-button-ok:hover {
    color: var(--c-btn-txt-hov-pos) !important;
    background: var(--c-btn-bck-hov-pos) !important;
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

.modal-own-button-cancel {
    color: var(--c-btn-txt-nor-neg) !important;
    background-color: var(--c-btn-bck-nor-neg) !important;
    border-radius: 3px !important;
    border: none !important;
    box-shadow: var(--s-nor);
    transition: all 0.3s;
}

.modal-own-button-cancel:hover {
    color: var(--c-btn-txt-hov-neg) !important;
    background: var(--c-btn-bck-hov-neg) !important;
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

.modal-own-input {
    text-align: center;
    width: 60px !important;
    margin-left: auto;
    margin-right: auto;
}

.modal-own-input::-webkit-outer-spin-button,
.modal-own-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-own-footer {
    text-align: center !important;
}

.modal-header {
    /*    padding: 15px;*/
    border-bottom: none !important;
}

.modal-footer {
    /*    padding: 15px;*/
    /*    text-align: right;*/
    border-top: none !important;
}

.modal-body {
    /*    position: relative;*/
    padding: 10px !important;
}

/*DELETE USER POPUP*/
.modal-dialog-own {
    width: 410px !important;
}

/*
.modal-content {
    border-radius: 3px !important;
}

.modal-footer {
    text-align: center !important;
}
*/
/*-------------------------------------------------------------------
    PROMPT BOOTSTRAP DIALOG END
-------------------------------------------------------------------*/