@import 'vars.css';

#rcmenu {
    position: absolute;
    display: none;
    width: auto;
    border-radius: var(--r-bor-nor);
    box-shadow: var(--s-nor);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 2;
}

#rcmenu:hover {
    box-shadow: var(--s-hov);
}

#rcmenu-list {
    background-color: var(--c-tip-bck);
    opacity: 0.9;
    border-radius: var(--r-bor-nor);
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#rcmenu-list li {
    padding: 8px;
    border-radius: var(--r-bor-nor);
}

.rcmenu-item:hover {
    border-radius: var(--r-bor-nor);
    background-color: transparent;
    cursor: pointer;
}

#addGuest:hover {
    color: var(--c-btn-txt-hov-pos);
    background-color: var(--c-btn-bck-hov-pos);
}

#editGuest:hover {
    color: var(--c-btn-txt-hov-ext);
    background-color: var(--c-btn-bck-hov-ext);
}

#delGuest:hover {
    color: var(--c-btn-txt-hov-neg);
    background-color: var(--c-btn-bck-hov-neg);
}