/*-------------------------------------------------------------------
//https://www.w3schools.com/w3css/4/w3.css

/*-------------------------------------------------------------------
СПРАВКА
    box-shadow:
    0px  +вправо, -влево
    0px  +вниз, -вверх
    0px  размытие только в +
    0px  +в стороны, -в центр
    rgba(0, 0, 0, .0) цвет со степенью прозрачности

    Opacity %   255 Step        2 digit HEX prefix
    0%          0.00            00
    5%          12.75           0C
    10%         25.50           19
    15%         38.25           26
    20%         51.00           33
    25%         63.75           3F
    30%         76.50           4C
    35%         89.25           59
    40%         102.00          66
    45%         114.75          72
    50%         127.50          7F
    55%         140.25          8C
    60%         153.00          99
    65%         165.75          A5
    70%         178.50          B2
    75%         191.25          BF
    80%         204.00          CC
    85%         216.75          D8
    90%         229.50          E5
    95%         242.25          F2
    100%        255.00          FF
-------------------------------------------------------------------*/

:root {
    /* ---------------------------- BORDER ---------------------------- */
    /* radius-border-normal */
    --r-bor-nor: 3px;
    /* ----------------------------- FONT ----------------------------- */
    /* font-document: -normal -extend */
    --f-doc-nor: 15px;
    --f-doc-ext: 15px;
    /* ---------------------------- SHADOW ----------------------------- */
    /* box */
    --s-nor: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --s-hov: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    /* ---------------------------- GLOBAL ---------------------------- */
    /* document: -background -text */
    --c-doc-txt     : #6a737b;
    --c-doc-txt-ext : #6a737b;
    /* ---------------------------- TABLES ---------------------------- */
    /* table-borders-body-normal */
    --c-tab-bor-bod-nor: #6a737b7f;
    /* table-background-body: -normal -hovered */
    --c-tab-bck-bod-nor: transparent;
    /* table-background-columns: -selected -reserver -adjacent -redeemed -hovered*/
    --c-tab-bck-col-sel: #c1d82f7c;    /* #c1d82f #9DEA20 #BADA55 */
    --c-tab-bck-col-res: #00a4e47c;    /* #42b3f4 */
    --c-tab-bck-col-adj: #F4425F;
    --c-tab-bck-col-red: #6a737b;
    --c-tab-bck-col-hov: #ffdd00;      /* #D5D5D5 */
    /* table-inner-text-comment */
    --c-tab-inr-txt-cmt: #6a737bcc;
    /* ---------------------------- BUTTONS ---------------------------- */
    /* button-text-noraml: -positive -negative -neutral -extend */
    --c-btn-txt-nor-neu: #6a737b;
    /* button-text-hovered: -positive -negative -neutral -extend */
    --c-btn-txt-hov-pos: #f1f1f1;
    --c-btn-txt-hov-neg: #f1f1f1;
    --c-btn-txt-hov-neu: #6a737b;
    --c-btn-txt-hov-ext: #6a737b;
    /* button-background-noraml: -positive -negative -neutral -extend */
    --c-btn-bck-nor-neu: transparent;
    /* button-background-hovered: -positive -negative -neutral -extend */
    --c-btn-bck-hov-pos: #00a4e4;    /* c1d82f */
    --c-btn-bck-hov-neg: #F4425F;
    --c-btn-bck-hov-neu: #f1f1f1;
    --c-btn-bck-hov-ext: #ffdd00E5;    /* 00a4e4 */
    /* ---------------------------- TOOLTIP ---------------------------- */
    /* tooltip: -text -background*/
    --c-tip-txt: #00a4e4;    /* 42b3f4 */
    --c-tip-bck: #f1f1f1;
    /* ----------------------------- MODAL ----------------------------- */
    /* modal-text */
    --c-mod-txt: #6a737b;
    /* modal-back */
    --c-mod-bck: rgba(0, 0, 0, 0.3);
    /* modal-back-content */
    --c-mod-bck-cnt: #f1f1f1;
    /* modal-back-top: -negative -positive -neutral -extend */
    --c-mod-bck-top-neg: #F4425F;
    --c-mod-bck-top-pos: #06D85F;
    --c-mod-bck-top-neu: #00a4e4;
    --c-mod-bck-top-ext: #ffdd00E5;
    /* modal-text-top: -negative -positive -neutral -extend */
    --c-mod-txt-top-neg: #f1f1f1;
    --c-mod-txt-top-pos: #f1f1f1;
    --c-mod-txt-top-neu: #ffffff;
    --c-mod-txt-top-ext: #ffffff;
    /* ---------------------------- CUSTOM ----------------------------- */
    --c-custom-1: #F06E58;
    --c-custom-2: #FEA45D;
    --c-custom-3: #FDF569;
    --c-custom-4: #B9EA7B;
    --c-custom-5: #B9ECFE;
    --c-custom-6: #82DDFF;
    --c-custom-7: #B9ECFE;
    --c-custom-8: #6969697F;
    --c-custom-9: #B9ECFE;
    /* --------------------------- GRADIENT ---------------------------- */
    --c-grad-1: #ffdd0099;
    --c-grad-2: #ffdd004c;
    --c-grad-3: #ffdd0099;
}