/*---------------------------------------------------------------------
     BEGIN
---------------------------------------------------------------------*/


html {
    font-family: 'Century Gothic', sans-serif;
    font-size: 15px;
}

::-webkit-scrollbar {
    display: none;
}

body {
    user-select: none !important;
    color: rgba(var(--nevada), 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
}

body:before {
    content: "";
    position: absolute;
    background: url(../../res/background/background.jpg);
    background-size: cover;
    z-index: -1;
    height: 20%;
    width: 20%;
    transform: scale(5);
    transform-origin: top left;
    filter: blur(2px);
}

/*---------------------------------------------------------------------
     END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
     BEGIN
---------------------------------------------------------------------*/


div#nav-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
}
div#nav-container ul#nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: block;
    text-align: right;
}
div#nav-container ul#nav-menu li {
    margin-top: 30px;
    transition: all .3s;
    width: 35px;
    height: 25px;
    left: -10px;
    position: relative;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    padding: 10px;
    background-color: rgba(var(--white), .1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
div#nav-container ul#nav-menu li:hover {
    transform: translatex(10px);
}
div#nav-container ul#nav-menu li svg {
    width: 25px;
    height: 25px;
    fill: rgba(var(--white), 1);
}
div#nav-container ul#nav-menu li:hover svg {
    transform: rotate(360deg);
    transition: all 1s;
}
div#nav-container ul#nav-menu li.nav-el-sel {
    fill: rgba(var(--white), 1);
    transform: translatex(10px);
}
div#nav-container ul#nav-menu li#nav-el-calendar.nav-el-sel { background-color: rgba(var(--cerulean), 1); }
div#nav-container ul#nav-menu li#nav-el-contacts.nav-el-sel { background-color: rgba(var(--malachite), 1); }
div#nav-container ul#nav-menu li#nav-el-diagrams.nav-el-sel { background-color: rgba(var(--carnation), 1); }
div#nav-container ul#nav-menu li#nav-el-todolist.nav-el-sel { background-color: rgba(var(--school-bus-yellow), 1); }
div#nav-container ul#nav-menu li#nav-el-settings.nav-el-sel { background-color: rgba(var(--nevada), 1); }

/*---------------------------------------------------------------------
     END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
     BEGIN
---------------------------------------------------------------------*/


div#view-container {
    display: none;
    padding: 10px;
    position: fixed;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 65px;
    border-radius: 3px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, .5);
    overflow: auto;
    animation: view-container-show .2s;
}
div#view-container.visible {
    display: flex;
}
div#view-container::-webkit-scrollbar-thumb {
    background-color: rgba(45, 45, 45, .6);
}
div#view-container::-webkit-scrollbar {
    width: 1px;
}
div#view-container div.vc-data-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    position: relative;
    border-radius: 3px;
    animation: data-wrapper-show .5s;
}
div#view-container div.vc-data-wrapper.visible {
    display: flex;
}


/*---------------------------------------------------------------------
     END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
     BEGIN
---------------------------------------------------------------------*/


.button {
    color: rgba(var(--nevada), 1);
    font-size: 15px;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgba(var(--nevada), .5);
    border-radius: 3px;
    box-shadow: none;
    transition: all 0.3s;
    vertical-align: middle;
    cursor: pointer;
    padding: 7px;
    margin: 4px;
    width: auto;
    height: auto;
}
.button:focus {
    outline: none;
}
.button:active {
    outline: none;
}
.button:hover {
    border: 1px solid transparent;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}
.button.positive:hover {
    color: rgba(var(--seashell), 1);
    background: rgba(var(--malachite), 1);
}
.button.negative:hover {
    color: rgba(var(--seashell), 1);
    background: rgba(var(--carnation), 1);
}
.button.neutral:hover {
    color: rgba(var(--seashell), 1);
    background: rgba(var(--cerulean), 1);
}
.button.extend:hover {
    color: rgba(var(--seashell), 1);
    background:rgba(var(--school-bus-yellow), 1);
}


/*---------------------------------------------------------------------
     END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
     BEGIN
---------------------------------------------------------------------*/


table td.td-zero-size {
    padding: 0 !important;
    border: none !important;
    margin: 0 !important;
}


/*---------------------------------------------------------------------
     END
---------------------------------------------------------------------*/