html {
    font-family: 'Century Gothic', sans-serif;
    font-size: 15px;
}

::-webkit-scrollbar {
    display: none;
}

body {
    user-select: none !important;
    color: #6a737b;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
}

body:before {
    content: "";
    position: absolute;
    background: url(../../res/background/background.jpg);
    background-size: cover;
    z-index: -1;
    height: 20%;
    width: 20%;
    transform: scale(5);
    transform-origin: top left;
    filter: blur(2px);
}

#nav-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    background-color: rgba(45, 45, 45, .6);
    box-shadow: 2px 0px 20px 0px white;
}

#nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav-menu li {
    margin-top: 30px;
    transition: all .3s;
    opacity: .5;
    text-align: center;
}

#nav-menu:hover li {
    opacity: 1;
    text-align: center;
}

#nav-menu li:hover svg {
    transition: all .3s;
    fill: #ffffff;
}

#view-container {
    display: none;
    padding: 10px;
    position: fixed;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 65px;
    border-radius: 3px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, .5);
    /* background-color: rgba(0, 0, 0, .5); */
    overflow: auto;
}

#view-container::-webkit-scrollbar-thumb {
    background-color: rgba(45, 45, 45, .6);
}

#view-container::-webkit-scrollbar {
    width: 1px;
}

.vc-data-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    display: none;
    position: relative;
}

.vc-data-wrapper-show {
    display: flex;
}

.nav-el-sel {
    transition: all .3s;
    fill: #06D85F !important;
}


/*-----------------------------------------------------------------*/


.button {
    color: var(--c-btn-txt-nor-neu);
    font-size: var(--f-doc-ext);
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    background-color: var(--c-btn-bck-nor-neu);
    border: 1px solid var(--c-tab-bor-bod-nor);
    border-radius: var(--r-bor-nor);
    box-shadow: none;
    transition: all 0.3s;
    vertical-align: middle;
    cursor: pointer;
    padding: 7px;
    margin: 4px;
    width: auto;
    height: auto;
}

.button:focus {
    outline: none;
}

.button:active {
    outline: none;
}

.button:hover {
    border: 1px solid transparent;
    box-shadow: var(--s-hov);
    transition: all 0.3s;
    transform: translateZ(10px);
}

button.positive:hover {
    color: var(--c-btn-txt-hov-pos);
    background: var(--c-btn-bck-hov-pos);
}

button.negative:hover {
    color: var(--c-btn-txt-hov-neg);
    background: var(--c-btn-bck-hov-neg);
}

button.neutral:hover {
    color: var(--c-btn-txt-hov-neu);
    background: var(--c-btn-bck-hov-neu);
}

button.extend:hover {
    color: var(--c-btn-txt-hov-ext);
    background: var(--c-btn-bck-hov-ext);
}


/*
-----------------------------------------------------------------------------------------------

*/


table td.td-zero-size {
    padding: 0 !important;
    /* display: none !important; */
    border: none !important;
    margin: 0;
}