/*************************************************************************/

/* Button addGuest */

/*************************************************************************/

#addGuest {
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    padding: 4px;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

#addGuest:hover {
    color: white;
    background: #9dea20;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}


/*************************************************************************/

/* Button editGuest */

/*************************************************************************/

#editGuest {
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    padding: 4px;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

#editGuest:hover {
    color: white;
    background: #42b3f4;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}


/*************************************************************************/

/* Button delGuest */

/*************************************************************************/

#delGuest {
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    padding: 4px;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

#delGuest:hover {
    color: white;
    background: #f4425f;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}


/*************************************************************************/

/* Buttons */

/*************************************************************************/

#save {
    font-size: 13px;
    margin: 0px 0px 0px 3px;
    color: black;
    border-radius: 2px;
    width: 150px;
    background: white;
}

#save:hover {
    color: white;
    border: 1px solid #9dea20;
    background: #9dea20;
}

#close {
    font-size: 13px;
    margin: 0px 3px 0px 3px;
    color: black;
    border-radius: 2px;
    width: 150px;
    background: white;
}

#close:hover {
    color: white;
    border: 1px solid #f4425f;
    background: #f4425f;
}


/*************************************************************************/

/* Input/output field */

/*************************************************************************/

input[type=text]:not(#selectYear) {
    /*margin-top:1px;*/
    /*margin-bottom:1px;*/
    /*width:50%;*/
    /*border-radius:5px;*/
    /*border:0;*/
    /*padding:5px 0*/
}


/*************************************************************************/

/* Span text */

/*************************************************************************/

[data-tip] {
    position: relative;
}

[data-tip]:before {
    content: '';
    display: none;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position: absolute;
    top: 30px;
    left: 35px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

[data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: 35px;
    left: 0px;
    padding: 5px 8px;
    background: #1a1a1a;
    color: #fff;
    z-index: 9;
    font-size: 0.75em;
    height: 18px;
    line-height: 18px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    white-space: nowrap;
    word-wrap: normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
    display: block;
}


/*************************************************************************/

/* Input fields */

/*************************************************************************/

input#dayin {
    text-align: center;
}

input#dayout {
    text-align: center;
}

input#room {
    text-align: center;
}

input#price {
    text-align: center;
}

input#paid {
    text-align: center;
}

input#name {
    text-align: left;
}

input#tel {
    text-align: left;
}

input#text {
    text-align: left;
}


/*************************************************************************/

/* GUI */

/*************************************************************************/

.ui-dialog .ui-dialog-content {
    /*padding:2em*/
    background: #555;
}


/*************************************************************************/

/* GUI titlebar */

/*************************************************************************/

.ui-dialog .ui-dialog-titlebar {
    display: none;
    background: #a9ed2a;
    border: none;
    color: black;
}
