table#guests {
    border-collapse: collapse;
/*    table-layout: fixed;*/
}

table#guests td {
    border: 1px solid #ddd;
    padding: 3px;
    width: 1.4rem;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

table#guests th {
    border: 1px solid black;
    padding: 3px;
    width: 1.4rem;
    text-align: center;
    background: #a9ed2a;
    cursor: default;
}

table#guests tbody tr:hover {
    background-color: #f5f5f5
}

table#guests tbody td:hover {
/*     background-color: #91CBEB */
}
