
/*-----------------------------------------------*/
#contact {
    user-select: none;
    width: 100%;
    height: auto;
    letter-spacing: .3px;
    font-family: 'Century Gothic', sans-serif;
    border: none;
    border-spacing: 4px;
}
/*-----------------------------------------------*/
#contact td {
    padding: 10px;
}
/*-----------------------------------------------*/
#contact-thead {
    color: rgba(var(--nevada), 1);
}
#contact-thead tr {
    border-bottom: 1px solid rgba(var(--nevada), .5);
}
/*-----------------------------------------------*/
/*
#contact-tbody::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
}
*/
#contact-tbody::-webkit-scrollbar {
    width: 1px;
}
#contact-tbody tr {
    position: relative;
}
#contact-tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .5);
}
#contact-tbody tr:hover td {
    transition: all .5s;
    color: rgba(var(--seashell), 1);
    background-color: rgba(var(--cerulean), 1);
}
#contact-tbody tr:last-child:hover td:first-child {
    border-bottom-left-radius: 3px;
}
#contact-tbody tr:last-child:hover td:last-child {
    border-bottom-right-radius: 3px;
}
#contact-tbody td {
    color: rgba(var(--nevada), 1);
    outline-color: rgba(var(--carnation), 1);
    border: 1px solid rgba(var(--nevada), .1);
    border-radius: 3px;
}


/*
-----------------------------------------------------------------------------------------------
    CONTROL
*/

table#contact tbody tr td .control-wrapper .control-container {
    width: auto;
    left: -100px;
}
table#contact tbody tr:hover td .control-container {
    display: inline-block;
}
table#contact tbody tr td.td-zero-size {
    vertical-align: top;
}
table#contact tbody tr:not([data-status="initial"]) td .control-wrapper .control-container .control-el.action-1:hover {
    background-color: rgba(var(--malachite), 1);
    color: rgba(var(--seashell), 1);
}
table#contact tbody tr:not([data-status="initial"]) td .control-wrapper .control-container .control-el.action-2:hover {
    background-color: rgba(var(--school-bus-yellow), 1);
    color: rgba(var(--seashell), 1);
}
table#contact tbody tr .control-wrapper .control-el.action-3:hover {
    background-color: rgba(var(--carnation), 1);
    color: rgba(var(--seashell), 1);
}
table#contact tbody tr[data-status="initial"] td .control-wrapper .control-container .control-el.action-1 {
    background-color: rgba(var(--nevada), 1);
    color: rgba(var(--seashell), 1);
    opacity: .5;
}
table#contact tbody tr[data-status="initial"] td .control-wrapper .control-container .control-el.action-2 {
    background-color: rgba(var(--nevada), 1);
    color: rgba(var(--seashell), 1);
    opacity: .5;
}

table#contact tbody tr .control-wrapper .control-container .control-el.action-1:before {
    content: '  ✓  ';
}
table#contact tbody tr .control-wrapper .control-container .control-el.action-2:before {
    content: '  ⟲  ';
}
table#contact tbody tr .control-wrapper .control-container .control-el.action-3:before {
    content: '  ✗  ';
}