/*-----------------------------------------------------------------*/


#journal {
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    table-layout: fixed;
    border-spacing: 3px 6px;
}

#journal #journal-thead th,
#journal #journal-tbody > tr:not(.records-wrapper) td,
#journal #journal-tbody tr > th {
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid rgba(var(--nevada), .5);
    cursor: pointer;
    font-weight: 200;
}
#journal #journal-tbody > tr:hover > th { animation: journal-record-view 5s infinite; }
#journal #journal-tbody > tr:not(.records-wrapper) td:hover {
    background-color: rgba(var(--school-bus-yellow), 1);
    border: 1px solid transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 1;
}

#journal #journal-thead th { cursor: default; }
#journal #journal-thead .blank-cell { border: 1px solid transparent; }

#journal [data-view="hov"],
#journal [data-view="fix"] { animation: journal-record-view 5s infinite; }

/*-----------------------------------------------------------------*/


#journal #journal-tbody .records-wrapper { display: none; }
#journal #journal-tbody .records-wrapper > td {
    border: none;
    padding: 18px 0px 18px 35px;
}
#journal #journal-tbody .records-wrapper.visible { display: table-row; }
#journal #journal-tbody .records-container {
    border-spacing: 3px 6px;
    width: 100%;
    border-width: 0px;
}
#journal #journal-tbody .records-container > tr > td { border: 1px solid rgba(var(--nevada), .5); }
#journal #journal-tbody .record { cursor: pointer; }
#journal #journal-tbody .record td { padding: 4px; }
#journal #journal-tbody .record > td:first-child {
    width: 5%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#journal #journal-tbody .record > td:last-child {
    padding: 4px;
    width: 95%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#journal #journal-tbody .record .unid { text-align: center; }
#journal #journal-tbody .detail {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}
#journal #journal-tbody .detail td { border: none; }
#journal #journal-tbody .detail .person-field { padding: 0; }
#journal #journal-tbody .detail .person-info-basic {
    width: 80%;
    text-align: left;
}
#journal #journal-tbody .detail .dbeg { width: 8%; }
#journal #journal-tbody .detail .room { width: 5%; }
#journal #journal-tbody .detail .cost { width: 7%; }
#journal #journal-tbody .detail .name { font-weight: bold; }
#journal #journal-tbody .detail .name:after { content: " "; }
#journal #journal-tbody .detail .teln:before {
    vertical-align: middle;
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid slice" height="15" width="15" fill="#00a4e4" xmlns="http://www.w3.org/2000/svg"><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/></svg>');
}
#journal #journal-tbody .detail .teln {
    font-size: 14px;
    color: rgba(var(--nevada), .8);
}
#journal #journal-tbody .detail .person-info-extra { text-align: left; }
#journal #journal-tbody .detail .city,
#journal #journal-tbody .detail .fnot {
    font-size: 14px;
    color: rgba(var(--nevada), .8);
    text-align: left;
    font-style: italic;
}
#journal #journal-tbody .detail .city:after { content: " "; }
#journal #journal-tbody .detail .room {
    text-align: center;
    color: rgba(var(--cerulean), .5);
}
#journal #journal-tbody .detail .room:before {
    display: block;
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid slice" height="15" width="15" fill="#00a4e4" xmlns="http://www.w3.org/2000/svg"><path d="M7 13c1.66 0 3-1.34 3-3S8.66 7 7 7s-3 1.34-3 3 1.34 3 3 3zm12-6h-8v7H3V5H1v15h2v-3h18v3h2v-9c0-2.21-1.79-4-4-4z"/></svg>');
}
#journal #journal-tbody .detail .person-dates { text-align: right; }
#journal #journal-tbody .detail .cost,
#journal #journal-tbody .detail .paid { text-align: right; }


/*-----------------------------------------------------------------*/

/* FIX  сделать что бы границы элементов view и fix оставались */
#journal #journal-tbody td:not([data-view="view"])[data-status],
#journal #journal-tbody td:not([data-view="fix"])[data-status] {
    border: 1px solid transparent !important;
    color: rgba(var(--white), 1) !important;
}
#journal #journal-tbody td[data-status="selected"] { background-color: rgba(var(--malachite), 1); }
#journal #journal-tbody td[data-status="reserved"] { background-color: rgba(var(--cerulean), 1); }
#journal #journal-tbody td[data-status="adjacent"] { background-color: rgba(var(--carnation), 1); }
#journal #journal-tbody td[data-status="redeemed"] { background-color: rgba(var(--nevada), 1); }


/*-----------------------------------------------------------------*/


#journal #journal-thead .control-row .pick {
    font-family: 'Century Gothic', sans-serif;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#journal #journal-thead .control-row td {
    text-align: center;
    padding: 0;
}
#journal #journal-thead .control-row table {
    width: 100%;
    border-collapse: collapse;
}
#journal #journal-thead .control-row table td:nth-child(2) { width: 90%; }
#journal #journal-thead .control-row .button.prev:hover {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
#journal #journal-thead .control-row .button.prev:before {
    content: '⮘'; /*⮘⮜*/
}
#journal #journal-thead .control-row .button.next:hover {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
#journal #journal-thead .control-row .button.next:before {
    content: '⮚'; /*➠⮚⮞*/
}
#journal #journal-thead .control-row table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}
#journal #journal-thead .control-row .button {
    display: block;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
#journal #journal-thead .control-row .button:hover {
    box-shadow: none;
    transition: none;
    transform: none;
    background-color: rgba(var(--school-bus-yellow), 1);
    color: rgba(var(--nevada), 1);
    border: 1px solid transparent;
}


/*-----------------------------------------------------------------*/


#journal #journal-tbody .balloon-wrapper { position: absolute; }
#journal #journal-tbody .balloon-wrapper .balloon-content {
    visibility: hidden;
    width: 200px;
    background-color: rgba(255,255,255, .7);
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    display: block;
    text-align: initial;
    top: 25px;
    left: -95px;
}
#journal #journal-tbody .balloon-wrapper .balloon {
    border-radius: 3px;
}
#journal #journal-tbody .balloon-wrapper .balloon-el {
    padding: 4px 4px 4px 4px;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(var(--nevada), 1);
}
#journal #journal-tbody .balloon-wrapper .balloon-el-name {
    background-color: rgba(var(--cerulean), 1);
    color: rgba(var(--white), 1);
}
#journal #journal-tbody .balloon-wrapper .balloon-el-unid { display: none; }
#journal #journal-tbody .balloon-wrapper .balloon-el-teln:before {content: '☎';}
#journal #journal-tbody .balloon-wrapper .balloon-el-fnot:before {content: '✎';}
#journal #journal-tbody .balloon-wrapper .balloon-el-city:before {content: '✈';}
#journal #journal-tbody .balloon-wrapper .balloon-el-unid:before {content: '№';}

#journal #journal-tbody tr:not(.records-wrapper) td:hover .balloon-wrapper .balloon-content {
    visibility: visible;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}


/*-----------------------------------------------------------------*/