/*-----------------------------------------------------------------*/


table#journal {
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    table-layout: fixed;
    border-spacing: 3px 8px;
}
table#journal>thead>tr>th,
table#journal>tbody>tr>th {
    border: 1px solid rgba(var(--nevada), .5);
    font-weight: 200;
    text-align: center;
    width: 21px;
    padding: 4px;
    border-radius: 3px;
}
table#journal>tbody>tr>th {
    cursor: pointer;
}
table#journal>tbody>tr>td {
    border: 1px solid rgba(var(--nevada), .5);
    text-align: center;
    cursor: pointer;
    width: 21px;
    padding: 4px;
    border-radius: 3px;
}
table#journal>tbody>tr:hover>th {
    animation: journal-record-view 5s infinite;
}
table#journal>tbody>.records-row>td {
    border: none;
    cursor: default;
    padding: 18px 0px 18px 35px;
}
table#journal>tbody>tr:not(.records-row)>td:hover {
    background-color: rgba(var(--school-bus-yellow), 1);
    border: 1px solid transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 1;
}


/*-----------------------------------------------------------------*/


table#journal>tbody#journal-tbody>tr.hidden {
    cursor: default;
    display: none;
}

table#journal>tbody#journal-tbody>tr.records-row>td>table.records {
    cursor: pointer;
    text-align: center;
    border-spacing: 3px 8px;
    width: 100%;
    padding: 0;
    border-radius: 3px;
    border-style: solid;
    border-width: 0px;
}
table#journal>tbody#journal-tbody>tr.records-row>td>table.records:hover>tbody>tr:hover>td {
    border: 1px solid transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 1;
}
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr>td {
    border: 1px solid rgba(var(--nevada), .5);
}
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr>td:first-child {
    width: 5%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr>td:last-child {
    padding: 4px;
    width: 95%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
table#journal>tbody#journal-tbody>tr.records-row>td>table.records [data-status="selected"] {
    border: 1px solid transparent;
    animation: journal-record-view 5s infinite;
}
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr>td>table.record-detail {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr>td>table.record-detail>tbody>tr>td { border: none; }
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr>td>table.record-detail>tbody>tr>td:first-child { width: 80%; }
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr>td>table.record-detail>tbody>tr>td:nth-child(2) { width: 8%; }
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr>td>table.record-detail>tbody>tr>td:nth-child(3) { width: 5%; }
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr>td>table.record-detail>tbody>tr>td:last-child { width: 7%; }
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr .person-fields { padding: 0; }
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr .person-base-info { text-align: left; }
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr .person-cell-name { font-weight: bold; }
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr .person-cell-name:after { content: " "; }
table#journal>tbody#journal-tbody>tr.records-row>td>table.records>tbody>tr .person-cell-teln-number:before {
    vertical-align: middle;
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid slice" height="15" width="15" fill="#00a4e4" xmlns="http://www.w3.org/2000/svg"><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/></svg>');
}
table#journal .person-cell-teln-number {
    font-size: 14px;
    color: rgba(var(--nevada), .8);
}
table#journal .person-additional-info {
    text-align: left;
}
table#journal .person-cell-city,
table#journal .person-cell-fnot {
    font-size: 14px;
    color: rgba(var(--nevada), .8);
    text-align: left;
    font-style: italic;
}
table#journal .person-cell-city:after { content: " "; }
table#journal .person-cell-room { color: rgba(var(--cerulean), .5); }
table#journal .person-cell-room:before {
    display: block;
    content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid slice" height="15" width="15" fill="#00a4e4" xmlns="http://www.w3.org/2000/svg"><path d="M7 13c1.66 0 3-1.34 3-3S8.66 7 7 7s-3 1.34-3 3 1.34 3 3 3zm12-6h-8v7H3V5H1v15h2v-3h18v3h2v-9c0-2.21-1.79-4-4-4z"/></svg>');
}
table#journal .person-dates { text-align: right; }
table#journal .person-cell-cost,
table#journal .person-cell-paid { text-align: right; }


/*-----------------------------------------------------------------*/


table#journal .blank-cell { border: 1px solid transparent !important; }


/*-----------------------------------------------------------------*/


table#journal > tbody#journal-tbody > tr > td[data-status="selected"] { background-color: rgba(var(--malachite), 1); }
table#journal > tbody#journal-tbody > tr > td[data-status="reserved"] { background-color: rgba(var(--cerulean), 1); }
table#journal > tbody#journal-tbody > tr > td[data-status="adjacent"] { background-color: rgba(var(--carnation), 1); }
table#journal > tbody#journal-tbody > tr > td[data-status="redeemed"] { background-color: rgba(var(--nevada), 1); }
table#journal > tbody#journal-tbody > tr > td[data-status] {
    border: 1px solid transparent;
    color: rgba(var(--white), 1);
}

/*-----------------------------------------------------------------*/


table#journal #journal-control-buttons #month {
    font-family: 'Century Gothic', sans-serif;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
table#journal #journal-control-buttons #year { display: none; }
table#journal #journal-control-buttons td {
    text-align: center;
    padding: 0;
}
table#journal #journal-control-buttons table {
    width: 100%;
    border-collapse: collapse;
}
table#journal #journal-control-buttons table td:nth-child(2) { width: 90%; }
table#journal #journal-control-buttons #journal-button-month-prev:hover {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
table#journal #journal-control-buttons #journal-button-month-prev:before {
    content: '⮘'; /*⮘⮜*/
}
table#journal #journal-control-buttons #journal-button-month-next:hover {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
table#journal #journal-control-buttons #journal-button-month-next:before {
    content: '⮚'; /*➠⮚⮞*/
}
table#journal #journal-control-buttons table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}
table#journal #journal-control-buttons .button {
    display: block;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
table#journal #journal-control-buttons .button:hover {
    box-shadow: none;
    transition: none;
    transform: none;
    background-color: rgba(var(--school-bus-yellow), 1);
    color: rgba(var(--nevada), 1);
    border: 1px solid transparent;
}


/*-----------------------------------------------------------------*/


table#journal tbody#journal-tbody tr td .balloon-wrapper { position: absolute; }
table#journal tbody#journal-tbody tr td .balloon-wrapper .balloon-content {
    visibility: hidden;
    width: 200px;
    background-color: rgba(255,255,255, .7);
    border-radius: 3px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    display: block;
    text-align: initial;
    top: 25px;
    left: -95px;
}
table#journal tbody#journal-tbody tr td .balloon-wrapper .balloon {
    border-radius: 3px;
}
table#journal tbody#journal-tbody tr td .balloon-wrapper .balloon-el {
    padding: 4px 4px 4px 4px;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(var(--nevada), 1);
}
table#journal tbody#journal-tbody tr td .balloon-wrapper .balloon-el-name {
    background-color: rgba(var(--cerulean), 1);
    color: rgba(var(--white), 1);
}
table#journal tbody#journal-tbody tr td .balloon-wrapper .balloon-el-unid { display: none; }
table#journal tbody#journal-tbody tr td .balloon-wrapper .balloon-el-teln:before {content: '☎';}
table#journal tbody#journal-tbody tr td .balloon-wrapper .balloon-el-fnot:before {content: '✎';}
table#journal tbody#journal-tbody tr td .balloon-wrapper .balloon-el-city:before {content: '✈';}
table#journal tbody#journal-tbody tr td .balloon-wrapper .balloon-el-unid:before {content: '№';}

table#journal tbody#journal-tbody tr:not(.records-row) td:hover .balloon-wrapper .balloon-content {
    visibility: visible;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}


/*-----------------------------------------------------------------*/


table#journal tbody [data-journal-record-view="hov"] { animation: journal-record-view 5s infinite; }
table#journal tbody [data-journal-record-view="fix"] { animation: journal-record-view 5s infinite; }


/*-----------------------------------------------------------------*/