

/*---------------------------------------------------------------------
    DIALOG DEFAULT STYLE BEGIN
---------------------------------------------------------------------*/


.modal-wrapper {
    font-family: 'Century Gothic', sans-serif;
    display: none;
    z-index: 1;
    background-color: var(--c-mod-bck);
    background-image: repeating-linear-gradient( -45deg, rgba(180, 180, 180, .3), rgba(180, 180, 180, .3) 6.5px, rgba(150, 150, 150, .3) 6.5px, rgba(150, 150, 150, .3) 13px);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 10vh;
    color: var(--c-mod-txt);
    text-align: center;
}

.modal-wrapper-visible {
    display: block;
}

.modal-content {
    background-color: var(--c-mod-bck-cnt);
    display: inline-block;
    border-radius: var(--r-bor-nor);
    animation: MDShow 0.4s;
}

.modal-header {
    border-radius: 3px 3px 0px 0px;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
}

.modal-body {
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px;
}

.modal-footer {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.modal-body table {
    width: 100%;
}

.intent-del {
    color: var(--c-mod-txt-top-neg);
    background-color: var(--c-mod-bck-top-neg);
}

.intent-add {
    color: var(--c-mod-txt-top-pos);
    background-color: var(--c-mod-bck-top-pos);
}

.intent-upd {
    color: var(--c-mod-txt-top-neu);
    background-color: var(--c-mod-bck-top-neu);
}

.intent-ext {
    color: var(--c-mod-txt-top-ext);
    background-color: var(--c-mod-bck-top-ext);
}


/*---------------------------------------------------------------------
    DIALOG DEFAULT STYLE END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    GUEST-CARD BEGIN
---------------------------------------------------------------------*/


.guest-card.modal-wrapper {
    text-align: left;
}
.guest-card.modal-wrapper .modal-content {
    display: block;
    border-radius: 0px;
    top: 10%;
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: var(--c-mod-bck-cnt); /* TODO vars rgba(255,255,255, 0.9);*/
    border-radius: var(--r-bor-nor);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1); /* TODO vars */
}

/*-----------------------------------------------*/

.guest-card.modal-wrapper .modal-header {
    padding: 0px;
    border-radius: 0px;
    border-top-left-radius: 3px; /* TODO vars */
    border-top-right-radius: 3px; /* TODO vars */
    width: 100%;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------------------------*/

.guest-card.modal-wrapper .modal-body {
    padding: 4px;
}
.guest-card.modal-wrapper .modal-body .row {
    width: 100%;
    padding: 25px 0px 0px 0px;
}
.guest-card.modal-wrapper .modal-body .row .guest-card-el {
    padding: 0 2% 0 0;
    display: inline-block;
    position: relative;
}
.guest-card.modal-wrapper .modal-body .guest-card-el label {
    font-size: 0.9em;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: 0.3s ease all;
}
.guest-card.modal-wrapper .modal-body .guest-card-el input {
    outline: none;
    border: none;
    color: #2d2d2d;    /* TODO vars */
    background-color: transparent;    /* TODO vars */
    border-bottom: 1px solid #929292;    /* TODO vars */
    width: 100%;
}
.guest-card.modal-wrapper .modal-body .guest-card-el input:focus {
    border-bottom: 1px solid var(--neutral);
}
.guest-card.modal-wrapper .modal-body .guest-card-el input:focus~label,
.guest-card.modal-wrapper .modal-body .guest-card-el input:valid~label
/* NOTE нужно будет когда дойду до isStrict что бы нормально отрабатывал селектор
.guest-card.modal-wrapper .modal-body .guest-card-el input:not(:placeholder-shown)*/ {
    top: -20px;
    left: 0px;
    font-size: 0.8em;
}
.guest-card.modal-wrapper .modal-body .guest-card-el input:focus~label {
    color: var(--neutral);
}
.guest-card.modal-wrapper .modal-body #guest-card-el-unid { display: none; }
.guest-card.modal-wrapper .modal-body #guest-card-el-dbeg { width: 20%; }
.guest-card.modal-wrapper .modal-body #guest-card-el-dend { width: 20%; }
.guest-card.modal-wrapper .modal-body #guest-card-el-days { width: 20%; padding: 0; }
.guest-card.modal-wrapper .modal-body #guest-card-el-room { width: 12%; }
.guest-card.modal-wrapper .modal-body #guest-card-el-base { width: 20%; }
.guest-card.modal-wrapper .modal-body #guest-card-el-adjs { width: 20%; }
.guest-card.modal-wrapper .modal-body #guest-card-el-cost { width: 20%; }
.guest-card.modal-wrapper .modal-body #guest-card-el-paid { width: 20%; padding: 0; }
.guest-card.modal-wrapper .modal-body #guest-card-el-name { width: 100%; padding: 0; }
.guest-card.modal-wrapper .modal-body #guest-card-el-city { width: 100%; padding: 0; }
.guest-card.modal-wrapper .modal-body #guest-card-el-teln { width: 100%; padding: 0; }
.guest-card.modal-wrapper .modal-body #guest-card-el-fnot { width: 100%; padding: 0; }

.guest-card.modal-wrapper .modal-body #guest-card-el-dbeg input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-dend input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-days input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-room input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-base input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-adjs input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-cost input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-paid input { text-align: center; }

/*-----------------------------------------------*/

.guest-card.modal-wrapper .modal-body .rooms-drop-down-list {
    display: none;
    position: absolute;
    background-color: var(--text-light);
    width: 85%;
    z-index: 2;
    border-radius: 3px; /* TODO vars */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .1);
    overflow-y: auto;
    text-align: center;
}
.guest-card.modal-wrapper .modal-body .rooms-drop-down-list-visible {
    display: block;
}
.guest-card.modal-wrapper .modal-body #rooms-drop-down-list a {
    padding: 2px;
    z-index: 2;
    display: block;
    position: initial;
    text-decoration: none;
}
.guest-card.modal-wrapper .modal-body #rooms-drop-down-list a:hover {
    background-color: var(--neutral);
    color: var(--text-light);
}

/*-----------------------------------------------*/

.guest-card.modal-wrapper .modal-footer {
    padding: 0px;
    width: 100%;
}
.guest-card.modal-wrapper .modal-footer .button {
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 50%;
    border: none;
    border-radius: 0px;
}
.guest-card.modal-wrapper .modal-footer .button:hover {
    box-shadow: none;
    transform: none;
}
.guest-card.modal-wrapper .modal-footer .button.negative {
    border-bottom-left-radius: 3px; /* TODO vars */
}
.guest-card.modal-wrapper .modal-footer .button.positive {
    border-bottom-right-radius: 3px; /* TODO vars */
}


/*---------------------------------------------------------------------
    GUEST-CARD END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    PICK-PERIOD BEGIN
---------------------------------------------------------------------*/


.pick-period.modal-content {
    user-select: none;
    display: inline-block;
    width: auto;
    background-color: var(--text-light);
    border-radius: var(--r-bor-nor);
    text-align: center;
    animation: pcShow 0.4s;
}
.pick-period.modal-header {
    padding: 0px;
    border: none;
}

/*---------------------------------------------------*/

.modal-wrapper.pick-period .modal-body {
    padding: 4px;
}
.modal-wrapper.pick-period .modal-body table {
    border-spacing: 6px;
}
.modal-wrapper.pick-period .modal-body td {
    padding: 0px;
}
.modal-wrapper.pick-period .modal-body .pick-period-input-year {
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    padding: 0px;
}
.modal-wrapper.pick-period .modal-body input[type=number].pick-period-input-year::-webkit-inner-spin-button,
.modal-wrapper.pick-period .modal-body input[type=number].pick-period-input-year::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.modal-wrapper.pick-period .modal-body .button {
    outline: none;
    cursor: pointer;
    padding: 0px;
    border: none;
    background-color: transparent; /* TODO vars */
    width: 100%;
    height: 100%;
}
.modal-wrapper.pick-period .modal-body .button:hover {
    border: none;
    box-shadow: none;
    transform: none;
}
.modal-wrapper.pick-period .modal-body table thead #pick-period-button-year-prev:before {
    content: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/></svg>');
}
.modal-wrapper.pick-period .modal-body table thead #pick-period-button-year-next:before {
    content: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/></svg>');
}
.modal-wrapper.pick-period .modal-body table thead #pick-period-button-year-prev:hover:before {
    content: url('data:image/svg+xml;utf8,<svg fill="#00a4e4" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/></svg>');
}
.modal-wrapper.pick-period .modal-body table thead #pick-period-button-year-next:hover:before {
    content: url('data:image/svg+xml;utf8,<svg fill="#00a4e4" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/></svg>');
}
.modal-wrapper.pick-period .modal-body table td {
    padding: 4px;
    border-radius: 3px; /* TODO vars */
    border: 1px solid transparent;
}
.modal-wrapper.pick-period .modal-body table td.pick-period-month-sel {
    border: 1px solid var(--extend);
}
.modal-wrapper.pick-period .modal-body .pick-period-month {
    cursor: pointer;
}
/*---------------------------------------------------*/
.modal-wrapper.pick-period .modal-footer {
    padding: 0px;
    width: 100%;
}
.modal-wrapper.pick-period .modal-footer .button {
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 50%;
    border: none;
    border-radius: 0px;
}
.modal-wrapper.pick-period .modal-footer .button:hover {
    border: none;
    box-shadow: none;
    transform: none;
}
.modal-wrapper.pick-period .modal-footer .button.negative {
    border-bottom-left-radius: 3px; /* TODO vars */
}
.modal-wrapper.pick-period .modal-footer .button.positive {
    border-bottom-right-radius: 3px; /* TODO vars */
}
.modal-wrapper.pick-period .modal-footer .button:hover {
    box-shadow: none;
    transform: none;
}


/*---------------------------------------------------------------------
    PICK-PERIOD END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    MESSAGE BOX BEGIN
---------------------------------------------------------------------*/


#msg-box-wrapper {
    border-radius: 3px; /* TODO vars */
    width: auto;
    height: auto;
    bottom: 20px;
    right: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--background-light);
}
#msg-box-wrapper .msg-box {
    margin: 4px;
    padding: 4px;
    height: 30px;
    border-radius: 3px; /* TODO vars */
    animation: msgShow 0.5s;
    position: relative;
}
#msg-box-wrapper .msg-box-error {
    background-color: var(--negative);
    color: var(--text-light);
}
#msg-box-wrapper .msg-box-info {
    background-color: var(--neutral);
    color: var(--text-light);
}
#msg-box-wrapper .msg-box-warn {
    background-color: var(--extend);
    color: var(--text-light);
}
#msg-box-wrapper .msg-box-debug {
    background-color: var(--background-regular);
    color: var(--text-light);
}
#msg-box-wrapper .msg-box-success {
    background-color: var(--positive);
    color: var(--text-light);
}
#msg-box-wrapper .msg-box {
    line-height: 30px;
}

#msg-box-wrapper .msg-box:hover .control-wrapper .control-container {
    display: inline-block;
}
#msg-box-wrapper .msg-box .control-wrapper .control-container {
    width: auto;
    top: -4px;
    right: 0;
}
#msg-box-wrapper .msg-box .control-wrapper .control-container .control-el.action-1:before {
    content: '  ✓  ';
}
#msg-box-wrapper .msg-box .control-wrapper .control-container .control-el.action-2:before {
    content: '  ✎  ';
}
#msg-box-wrapper .msg-box .control-wrapper .control-container .control-el.action-3:before {
    content: '  ✗  ';
}


/*---------------------------------------------------------------------
    MESSAGE BOX END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    CONTROL DEFAULT STYLE BEGIN
---------------------------------------------------------------------*/


.control-wrapper {
    position: relative;
}
.control-wrapper .control-container {
    position: absolute;
    display: none;
    height: 25px;
    width: auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(255,255,255, 1);
    animation: control-animate .7s;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, .5);
    overflow: hidden;
}
.control-wrapper .control-container .control-el {
    height: 100%;
    overflow: auto;
    transition: all .5s;
    display: inline-block;
    line-height: 25px;
    color: var(--text-accent);
    cursor: pointer;
}
.control-wrapper .control-container .control-el.action-1:before {
    content: '  ✓  ';
}
.control-wrapper .control-container .control-el.action-2:before {
    content: '  ⟲  ';
}
.control-wrapper .control-container .control-el.action-3:before {
    content: '  ✗  ';
}
/* :hover .control-container {
    display: inline-block;
} */


/*---------------------------------------------------------------------
    CONTROL DEFAULT STYLE END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    RIGHT CLICK MENU BEGIN
---------------------------------------------------------------------*/


#rcmenu {
    position: absolute;
    display: none;
    width: auto;
    border-radius: var(--r-bor-nor);
    box-shadow: var(--s-nor);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 2;
}

#rcmenu:hover {
    box-shadow: var(--s-hov);
}

#rcmenu-list {
    background-color: var(--c-tip-bck);
    opacity: 0.9;
    border-radius: var(--r-bor-nor);
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#rcmenu-list li {
    padding: 8px;
    border-radius: var(--r-bor-nor);
}

.rcmenu-item:hover {
    border-radius: var(--r-bor-nor);
    background-color: transparent;
    cursor: pointer;
}

#rcmenu #addGuest:hover {
    color: var(--c-btn-txt-hov-pos);
    background-color: var(--c-btn-bck-hov-pos);
}

#rcmenu #editGuest:hover {
    color: var(--c-btn-txt-hov-ext);
    background-color: var(--c-btn-bck-hov-ext);
}

#rcmenu #delGuest:hover {
    color: var(--c-btn-txt-hov-neg);
    background-color: var(--c-btn-bck-hov-neg);
}


/*---------------------------------------------------------------------
    RIGHT CLICK MENU END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    ANIMATION BEGIN
---------------------------------------------------------------------*/


@keyframes pcShow {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes MDShow {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes msgShow {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes control-animate {
    from { opacity: 0; }
    to { opacity: 1; }
}


/*---------------------------------------------------------------------
    ANIMATION END
---------------------------------------------------------------------*/