/*---------------------------------------------------------------------
    DIALOG DEFAULT STYLE BEGIN
---------------------------------------------------------------------*/


.modal-wrapper {
    font-family: 'Century Gothic', sans-serif;
    display: none;
    z-index: 1;
    background-color: rgba(0, 0, 0, .3);
    background-image: repeating-linear-gradient( -45deg, rgba(180, 180, 180, .3), rgba(180, 180, 180, .3) 6.5px, rgba(150, 150, 150, .3) 6.5px, rgba(150, 150, 150, .3) 13px);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 10vh;
    color: rgba(var(--nevada), 1);
    text-align: center;
}
.modal-wrapper-visible {
    display: block;
}
.modal-content {
    /* display: inline-block; */
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    animation: simple-show 0.4s;
}
.modal-header {
    border-radius: 3px 3px 0px 0px;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
}
.modal-body {
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px;
}
.modal-footer {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}
.modal-body table {
    width: 100%;
}

.intent-del {
    color: rgba(var(--white), 1);
    background-color: rgba(var(--carnation), 1);
}
.intent-add {
    color: rgba(var(--white), 1);
    background-color: rgba(var(--malachite), 1);
}
.intent-upd {
    color: rgba(var(--white), 1);
    background-color: rgba(var(--cerulean), 1);
}
.intent-ext {
    color: rgba(var(--white), 1);
    background-color: rgba(var(--school-bus-yellow), 1);
}


/*---------------------------------------------------------------------
    DIALOG DEFAULT STYLE END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    CONFIRM DIALOG BEGIN
---------------------------------------------------------------------*/

.confirm-dialog .modal-content {
    overflow: hidden;
    width: 500px;
}
.confirm-dialog .modal-header {
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirm-dialog .modal-body {
    padding: 10px;
}
.confirm-dialog .modal-footer {
    padding: 0;
}
.confirm-dialog .modal-footer .button {
    width: 50%;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    height: 30px;
}
.confirm-dialog .modal-footer .button:hover {
    box-shadow: none;
    transform: none;
}


/*---------------------------------------------------------------------
    CONFIRM DIALOG END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    GUEST-CARD BEGIN
---------------------------------------------------------------------*/


.guest-card.modal-wrapper {
    text-align: left;
}
.guest-card.modal-wrapper .modal-content {
    display: block;
    border-radius: 0px;
    top: 10%;
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
}

/*-----------------------------------------------*/

.guest-card.modal-wrapper .modal-header {
    padding: 0px;
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------------------------*/

.guest-card.modal-wrapper .modal-body {
    padding: 10px;
}
.guest-card.modal-wrapper .modal-body .row {
    width: 100%;
    padding: 15px 0px 0px 0px;
}
.guest-card.modal-wrapper .modal-body .row .guest-card-el {
    display: inline-block;
    position: relative;
    border: 1px solid rgba(var(--nevada), .5);
    border-radius: 3px;
    margin: 3px;
    padding: 4px;
}
.guest-card .modal-body div.row .guest-card-el {
    border: 1px solid rgba(var(--nevada), .5);
    border-radius: 3px;
    margin: 3px;
    padding: 4px;
}
.guest-card.modal-wrapper .modal-body .guest-card-el label {
    font-size: 0.9em;
    position: absolute;
    top: 6px;
    left: 2px;
    pointer-events: none;
    transition: 0.1s all;
    text-transform: lowercase;
}
.guest-card.modal-wrapper .modal-body .guest-card-el input {
    outline: none;
    border: none;
    color: rgba(var(--nevada), 1);
    width: 100%;
    border-radius: 3px;
    transition: all .3s;
}
.guest-card.modal-wrapper .modal-body .guest-card-el input::selection {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 3px;
}
.guest-card.modal-wrapper .modal-body .guest-card-el input:focus {
    background-color: rgba(var(--school-bus-yellow), .5);
}
.guest-card.modal-wrapper .modal-body .guest-card-el input:focus~label,
.guest-card.modal-wrapper .modal-body .guest-card-el input:valid~label
/* NOTE нужно будет когда дойду до isStrict что бы нормально отрабатывал селектор
.guest-card.modal-wrapper .modal-body .guest-card-el input:not(:placeholder-shown)*/ {
    top: -8px;
    left: 2px;
    font-size: 0.7em;
    background-color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}
.guest-card.modal-wrapper .modal-body .guest-card-el input:focus~label {
    color: rgba(var(--cerulean), 1);
}
.guest-card.modal-wrapper .modal-body #guest-card-el-unid { display: none; }
.guest-card.modal-wrapper .modal-body #guest-card-el-dbeg { width: 20%; }
.guest-card.modal-wrapper .modal-body #guest-card-el-dend { width: 20%; }
.guest-card.modal-wrapper .modal-body #guest-card-el-days { width: 20%; }
.guest-card.modal-wrapper .modal-body #guest-card-el-room { width: 50px; }
.guest-card.modal-wrapper .modal-body #guest-card-el-base { width: 75px; }
.guest-card.modal-wrapper .modal-body #guest-card-el-adjs { width: 75px; }
.guest-card.modal-wrapper .modal-body #guest-card-el-cost { width: 75px; }
.guest-card.modal-wrapper .modal-body #guest-card-el-paid { width: 75px; }
.guest-card.modal-wrapper .modal-body #guest-card-el-name { width: 414px; }
.guest-card.modal-wrapper .modal-body #guest-card-el-city { width: 414px; }
.guest-card.modal-wrapper .modal-body #guest-card-el-teln { width: 414px; }
.guest-card.modal-wrapper .modal-body #guest-card-el-fnot { width: 414px; }

.guest-card.modal-wrapper .modal-body #guest-card-el-dbeg input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-dend input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-days input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-room input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-base input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-adjs input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-cost input { text-align: center; }
.guest-card.modal-wrapper .modal-body #guest-card-el-paid input { text-align: center; }

/*-----------------------------------------------*/

.guest-card.modal-wrapper .modal-body .rooms-drop-down-list {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    width: 85%;
    z-index: 2;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .1);
    overflow-y: auto;
    text-align: center;
    padding: 4px;
    left: .4px;
    top: 30px;
}
.guest-card.modal-wrapper .modal-body .rooms-drop-down-list-visible {
    display: block;
}
.guest-card.modal-wrapper .modal-body #rooms-drop-down-list a {
    padding: 2px;
    z-index: 2;
    display: block;
    position: initial;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s;
}
.guest-card.modal-wrapper .modal-body #rooms-drop-down-list a:hover {
    border: 1px solid rgba(var(--nevada), .5);
}

/*-----------------------------------------------*/

.guest-card.modal-wrapper .modal-footer {
    padding: 0px;
    width: 100%;
}
.guest-card.modal-wrapper .modal-footer .button {
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 50%;
    border: none;
    border-radius: 0px;
}
.guest-card.modal-wrapper .modal-footer .button:hover {
    box-shadow: none;
    transform: none;
}
.guest-card.modal-wrapper .modal-footer .button.negative {
    border-bottom-left-radius: 3px;
}
.guest-card.modal-wrapper .modal-footer .button.positive {
    border-bottom-right-radius: 3px;
}


/*---------------------------------------------------------------------
    GUEST-CARD END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    PICK-PERIOD BEGIN
---------------------------------------------------------------------*/


.pick-period.modal-content {
    user-select: none;
    display: inline-block;
    width: auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    text-align: center;
    animation: simple-show 0.4s;
}
.pick-period.modal-header {
    padding: 0px;
    border: none;
}

/*---------------------------------------------------*/

.modal-wrapper.pick-period .modal-body {
    padding: 4px;
}
.modal-wrapper.pick-period .modal-body table {
    border-spacing: 6px;
}
.modal-wrapper.pick-period .modal-body td {
    padding: 0px;
}
.modal-wrapper.pick-period .modal-body .pick-period-input-year {
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    padding: 0px;
    color: rgba(var(--nevada), 1);
}
.modal-wrapper.pick-period .modal-body input[type=number].pick-period-input-year::-webkit-inner-spin-button,
.modal-wrapper.pick-period .modal-body input[type=number].pick-period-input-year::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.modal-wrapper.pick-period .modal-body .button {
    outline: none;
    cursor: pointer;
    padding: 0px;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.modal-wrapper.pick-period .modal-body .button:hover {
    border: none;
    box-shadow: none;
    transform: none;
}
.modal-wrapper.pick-period .modal-body table thead #pick-period-button-year-prev:before {
    content: '⮜';
}
.modal-wrapper.pick-period .modal-body table thead #pick-period-button-year-next:before {
    content: '⮞';
}
.modal-wrapper.pick-period .modal-body table thead #pick-period-button-year-prev:hover:before {
    color: rgba(var(--cerulean), 1);
}
.modal-wrapper.pick-period .modal-body table thead #pick-period-button-year-next:hover:before {
    color: rgba(var(--cerulean), 1);
}
.modal-wrapper.pick-period .modal-body table td {
    padding: 4px;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s;
    cursor: pointer;
}
.modal-wrapper.pick-period .modal-body table tbody tr td:hover {
    border: 1px dashed rgba(var(--cerulean), 1);
}
.modal-wrapper.pick-period .modal-body table td.pick-period-month-sel {
    border: 1px solid rgba(var(--school-bus-yellow), 1);
}
/*---------------------------------------------------*/
.modal-wrapper.pick-period .modal-footer {
    padding: 0px;
    width: 100%;
}
.modal-wrapper.pick-period .modal-footer .button {
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 50%;
    border: none;
    border-radius: 0px;
}
.modal-wrapper.pick-period .modal-footer .button:hover {
    border: none;
    box-shadow: none;
    transform: none;
}
.modal-wrapper.pick-period .modal-footer .button.negative {
    border-bottom-left-radius: 3px;
}
.modal-wrapper.pick-period .modal-footer .button.positive {
    border-bottom-right-radius: 3px;
}
.modal-wrapper.pick-period .modal-footer .button:hover {
    box-shadow: none;
    transform: none;
}


/*---------------------------------------------------------------------
    PICK-PERIOD END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    MESSAGE BOX BEGIN
---------------------------------------------------------------------*/


#msg-box-wrapper {
    border-radius: 3px;
    width: auto;
    height: auto;
    bottom: 20px;
    right: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* background-color: rgba(255, 255, 255, .5); */
}
#msg-box-wrapper .msg-box {
    line-height: 30px;
    margin: 4px;
    padding: 4px;
    height: 30px;
    border-radius: 3px;
    animation: task-show 0.5s;
    position: relative;
}

#msg-box-wrapper .msg-box:hover {
    transform: scale(1.1)
}
#msg-box-wrapper .msg-box-error {
    background-color: rgba(var(--carnation), 1);
    color: rgba(var(--seashell), 1);
}
#msg-box-wrapper .msg-box-info {
    background-color: rgba(var(--cerulean), 1);
    color: rgba(var(--seashell), 1);
}
#msg-box-wrapper .msg-box-warn {
    background-color: rgba(var(--school-bus-yellow), 1);
    color: rgba(var(--seashell), 1);
}
#msg-box-wrapper .msg-box-debug {
    background-color: rgba(var(--nevada), 1);
    color: rgba(var(--seashell), 1);
}
#msg-box-wrapper .msg-box-success {
    background-color: rgba(var(--malachite), 1);
    color: rgba(var(--seashell), 1);
}

#msg-box-wrapper .msg-box:hover .control-wrapper .control-container {
    display: inline-block;
}
#msg-box-wrapper .msg-box .control-wrapper .control-container {
    width: auto;
    top: -4px;
    right: 0;
}
#msg-box-wrapper .msg-box .control-wrapper .control-container .control-el:hover {
    transform: rotate(360deg);
}
#msg-box-wrapper .msg-box .control-wrapper .control-container .control-el.action-1:before {
    content: '  ✓  ';
}
#msg-box-wrapper .msg-box .control-wrapper .control-container .control-el.action-2:before {
    content: '  ✎  ';
}
#msg-box-wrapper .msg-box .control-wrapper .control-container .control-el.action-3:before {
    content: '  ✗  ';
}

#msg-box-wrapper .msg-box.animation-hide {
    animation: hide-to-right 1.5s;
}


/*---------------------------------------------------------------------
    MESSAGE BOX END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    CONTROL DEFAULT STYLE BEGIN
---------------------------------------------------------------------*/


.control-wrapper {
    position: relative;
}
.control-wrapper .control-container {
    position: absolute;
    display: none;
    height: 25px;
    width: auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(255,255,255, 1);
    animation: simple-show .7s;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, .5);
    overflow: hidden;
}
.control-wrapper .control-container .control-el {
    height: 100%;
    overflow: auto;
    transition: all .5s;
    display: inline-block;
    line-height: 25px;
    color: rgba(var(--nevada), 1);
    cursor: pointer;
}
.control-wrapper .control-container .control-el.action-1:before {
    content: '  ✓  ';
}
.control-wrapper .control-container .control-el.action-2:before {
    content: '  ⟲  ';
}
.control-wrapper .control-container .control-el.action-3:before {
    content: '  ✗  ';
}


/*---------------------------------------------------------------------
    CONTROL DEFAULT STYLE END
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    RIGHT CLICK MENU BEGIN
---------------------------------------------------------------------*/


#rcmenu {
    position: absolute;
    display: none;
    width: auto;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
    transform: translateZ(10px);
    z-index: 2;
}
#rcmenu:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#rcmenu-list {
    background-color: rgba(255, 255, 255, 1);
    opacity: 0.9;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#rcmenu-list li {
    padding: 8px;
    border-radius: 3px;
}
#rcmenu .rcmenu-item:hover {
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}

/*-----------------------------------------------------------------*/

#rcmenu #addGuest:hover {
    color: rgba(var(--seashell), 1);
    background-color: rgba(var(--malachite), 1);
}
#rcmenu #editGuest:hover {
    background-color: rgba(var(--school-bus-yellow), 1);
}
#rcmenu #delGuest:hover {
    color: rgba(var(--seashell), 1);
    background-color: rgba(var(--carnation), 1);
}


/*---------------------------------------------------------------------
    RIGHT CLICK MENU END
---------------------------------------------------------------------*/



/*---------------------------------------------------------------------
     BEGIN
---------------------------------------------------------------------*/





/*---------------------------------------------------------------------
     END
---------------------------------------------------------------------*/