/*-------------------------------------------------------------------
//https://www.w3schools.com/w3css/4/w3.css

/*-------------------------------------------------------------------
СПРАВКА
    box-shadow:
    0px  +вправо, -влево
    0px  +вниз, -вверх
    0px  размытие только в +
    0px  +в стороны, -в центр
    rgba(0, 0, 0, .0) цвет со степенью прозрачности

    Opacity %   255 Step        2 digit HEX prefix
    0%          0.00            00
    5%          12.75           0C
    10%         25.50           19
    15%         38.25           26
    20%         51.00           33
    25%         63.75           3F
    30%         76.50           4C
    35%         89.25           59
    40%         102.00          66
    45%         114.75          72
    50%         127.50          7F
    55%         140.25          8C
    60%         153.00          99
    65%         165.75          A5
    70%         178.50          B2
    75%         191.25          BF
    80%         204.00          CC
    85%         216.75          D8
    90%         229.50          E5
    95%         242.25          F2
    100%        255.00          FF

    rgba(var(--color), 0.5);
-------------------------------------------------------------------*/

:root {
    --school-bus-yellow: 255, 225, 000; /* #FFE100 */
    --carnation:         244, 066, 095; /* #F4425F */
    --malachite:         006, 216, 095; /* #06D85F */
    --cerulean:          000, 164, 228; /* #00A4E4 */
    --seashell:          241, 241, 241; /* #F1F1F1 */
    --nevada:            106, 115, 123; /* #6A737B */
    --white:             255, 255, 255; /* #FFFFFF */
    --black:             000, 000, 000; /* #000000 */

    /* not for using. for testing purposes only */
    --atomic-tangerine: 254, 164, 093; /* #FEA45D */
    --burnt-sienna:     240, 110, 088; /* #F06E58 */
    --picton-blue:      066, 179, 244; /* #42b3f4 */
    --paris-daisy:      253, 245, 105; /* #FDF569 */
    --inch-worm:        157, 234, 032; /* #9DEA20 */
}